In [41]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, I/O

In [42]:
data = pd.read_csv("../Datasets/Raw/C19_CASES_DEATHS/time_series_covid_19_confirmed_US.csv")
byState = data.groupby("Province_State").sum()

In [43]:
## calculate total cases
total_cases = pd.DataFrame(byState.iloc[:,byState.shape[1]-1])

In [44]:
## calculate max_new_daily_cases

location_set = byState.iloc[:,0:5]
case_set = byState.iloc[:,5:]
t_case_set = case_set.transpose()

In [45]:
state_index=[]
max_cases=[]
for case in t_case_set:
    state_index.append(case)
    max_cases.append(t_case_set[case].diff().max())
#print(state_index)

In [46]:
max_new_cases = pd.DataFrame(index=state_index, data=max_cases)

In [47]:
print(max_new_cases.reset_index())

                       index        0
0                    Alabama   5498.0
1                     Alaska    942.0
2             American Samoa      0.0
3                    Arizona  17234.0
4                   Arkansas   4304.0
5                 California  62168.0
6                   Colorado   6439.0
7                Connecticut   8457.0
8                   Delaware   1220.0
9           Diamond Princess     47.0
10      District of Columbia    492.0
11                   Florida  31518.0
12                   Georgia  31605.0
13            Grand Princess     75.0
14                      Guam    240.0
15                    Hawaii    483.0
16                     Idaho   2298.0
17                  Illinois  15415.0
18                   Indiana   8460.0
19                      Iowa   5484.0
20                    Kansas   7677.0
21                  Kentucky   8709.0
22                 Louisiana   6876.0
23                     Maine    824.0
24                  Maryland   3792.0
25             Massachusetts   9003.0
26                  Michigan  17368.0
27                 Minnesota   9022.0
28               Mississippi   5430.0
29                  Missouri   9534.0
30                   Montana   1642.0
31                  Nebraska   5270.0
32                    Nevada   3403.0
33             New Hampshire   1143.0
34                New Jersey   7880.0
35                New Mexico   3665.0
36                  New York  27644.0
37            North Carolina  19419.0
38              North Dakota   2807.0
39  Northern Mariana Islands      8.0
40                      Ohio  25721.0
41                  Oklahoma   8032.0
42                    Oregon   2439.0
43              Pennsylvania  13295.0
44               Puerto Rico   2169.0
45              Rhode Island   4759.0
46            South Carolina   8951.0
47              South Dakota   2138.0
48                 Tennessee  17330.0
49                     Texas  36283.0
50                      Utah   6142.0
51                   Vermont    283.0
52            Virgin Islands    109.0
53                  Virginia   9914.0
54                Washington   8644.0
55             West Virginia   2486.0
56                 Wisconsin  16956.0
57                   Wyoming   1262.0

In [53]:
cases_stats=pd.merge(max_new_cases.reset_index(), total_cases, right_on="Province_State", left_on="index")
cases_stats=cases_stats.rename(columns={"index": "State", 0:"Max_new_cases", "5/2/21":"Total_cases"})

In [54]:
non_states = ["American Samoa", "Guam", "District of Columbia", "Grand Princess", "Puerto Rico", "Virgin Islands", "Northern Mariana Islands", "Diamond Princess"]
for state in non_states:
    cases_stats = cases_stats[cases_stats["State"]!=state]

In [55]:
cases_stats

             State  Max_new_cases  Total_cases
0          Alabama         5498.0       528597
1           Alaska          942.0        68148
3          Arizona        17234.0       863927
4         Arkansas         4304.0       336105
5       California        62168.0      3744830
6         Colorado         6439.0       513765
7      Connecticut         8457.0       339233
8         Delaware         1220.0       104909
11         Florida        31518.0      2242778
12         Georgia        31605.0      1102789
15          Hawaii          483.0        34082
16           Idaho         2298.0       187656
17        Illinois        15415.0      1339621
18         Indiana         8460.0       722646
19            Iowa         5484.0       365524
20          Kansas         7677.0       310600
21        Kentucky         8709.0       445139
22       Louisiana         6876.0       458581
23           Maine          824.0        61847
24        Maryland         3792.0       448989
25   Massachusetts         9003.0       691172
26        Michigan        17368.0       940175
27       Minnesota         9022.0       579235
28     Mississippi         5430.0       311900
29        Missouri         9534.0       593474
30         Montana         1642.0       109030
31        Nebraska         5270.0       220127
32          Nevada         3403.0       315438
33   New Hampshire         1143.0        95377
34      New Jersey         7880.0      1000010
35      New Mexico         3665.0       197733
36        New York        27644.0      2054848
37  North Carolina        19419.0       969752
38    North Dakota         2807.0       107708
40            Ohio        25721.0      1075004
41        Oklahoma         8032.0       448305
42          Oregon         2439.0       186344
43    Pennsylvania        13295.0      1157285
45    Rhode Island         4759.0       148186
46  South Carolina         8951.0       580273
47    South Dakota         2138.0       122660
48       Tennessee        17330.0       847430
49           Texas        36283.0      2897110
50            Utah         6142.0       398012
51         Vermont          283.0        23126
53        Virginia         9914.0       661314
54      Washington         8644.0       404709
55   West Virginia         2486.0       153918
56       Wisconsin        16956.0       661685
57         Wyoming         1262.0        58142

In [51]:
cases_stats.to_csv("../Datasets/Refined_Datasets/cases_stats.csv")