In [1]:
import pandas as pd
bans = pd.read_csv(r"data\U.S._State_Gathering_Bans__2020.csv")

C:\Users\nmato\AppData\Local\Programs\Python\Python38-32\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (7,10,13,16,21,23,33,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
bans.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,General_GB_order_group,General_GB_order_code,General_or_Under_6ft_Bans_Gatherings_Over,With_SD_order_group,With_SD_order_code,...,Outdoor_Household_Order_Group,Outdoor_Household_Order_Code,Bans_Households_Not_Individuals_Outdoor_Only,Date_Signed,Express_Preemption,origin_dataset,Indoor_Outdoor,Source_of_Action,URL,Citation
0,AL,Autauga County,1,1,2020-03-11,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Autauga County,1,1,2020-03-12,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,Autauga County,1,1,2020-03-13,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Autauga County,1,1,2020-03-14,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Autauga County,1,1,2020-03-15,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bans_columns = bans.columns
print(bans_columns)

Index(['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County',
       'date', 'General_GB_order_group', 'General_GB_order_code',
       'General_or_Under_6ft_Bans_Gatherings_Over', 'With_SD_order_group',
       'With_SD_order_code', 'Over_6ft_Bans_Gatherings_Over',
       'outdoor_order_group', 'outdoor_order_code',
       'General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over',
       'With_SD_outdoor_order_group', 'With_SD_outdoor_order_code',
       'Over_6ft_Bans_Outdoor_Gatherings_Over', 'Current_order_status',
       'Jurisdiction_Type', 'Issuing_Jurisdiction', 'Effective_date',
       'Expiration_date', 'Effective_NA_Reason', 'Expiration_NA_Reason',
       'General_Household_Order_Group', 'General_Household_order_code',
       'Bans_Households_Not_Individuals_Generally',
       'Outdoor_Household_Order_Group', 'Outdoor_Household_Order_Code',
       'Bans_Households_Not_Individuals_Outdoor_Only', 'Date_Signed',
       'Express_Preemption', 'origin_dataset', 'Indoor_Outdoor',
       'Source_of_Action', 'URL', 'Citation'],
      dtype='object')

In [4]:
print(bans['Issuing_Jurisdiction'].unique())

[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']

In [5]:
#x-axis time period
#y-axis whether a ban was in effect (gatherings,)

#look into the issuing jurisdiction (is it at the state level)
#Use a bar graph to

In [6]:
for col in bans_columns[:35]:
    print("~~~~~~~~~"+col)
    print(bans[col].unique())

~~~~~~~~~State_Tribe_Territory
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'MP' 'PR' 'VI']
~~~~~~~~~County_Name
['Autauga County' 'Baldwin County' 'Barbour County' ... 'St. Croix Island'
 'St. John Island' 'St. Thomas Island']
~~~~~~~~~FIPS_State
[ 1  2  4  5  6  8  9 10 11 12 13 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 51 53
 54 55 56 60 66 69 72 78]
~~~~~~~~~FIPS_County
[  1   3   5   7   9  11  13  15  17  19  21  23  25  27  29  31  33  35
  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71
  73  75  77  79  81  83  85  87  89  91  93  95  97  99 101 103 105 107
 109 111 113 115 117 119 121 123 125 127 129 131 133  16  20  50  60  68
  70  90 100 110 122 130 150 158 164 170 180 185 188 195 198 220 230 240
 261 275 282 290  12 135 137 139 141 143 145 147 149  14  86 151 153 155
 157 159 161 163 165 167 169 171 173 175 177 179 181 183 187 189 191 193
 197 199 201 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233
 235 237 239 241 243 245 247 249 251 253 255 257 259 263 265 267 269 271
 273 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309
 311 313 315 317 319 321 203 510 186   6  28 102 323 325 327 329 331 333
 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369
 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405
 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441
 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477
 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507  36 520 530
 540 550 570 580 590 595 600 610 620 630 640 650 660 670 678 680 683 685
 690 700 710 720 730 735 740 750 760 770 775 790 800 810 820 830 840  78
  10  30  40 120  54]
~~~~~~~~~date
['2020-03-11' '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15'
 '2020-03-16' '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20'
 '2020-03-21' '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25'
 '2020-03-26' '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30'
 '2020-03-31' '2020-04-01' '2020-04-02' '2020-04-03' '2020-04-04'
 '2020-04-05' '2020-04-06' '2020-04-07' '2020-04-08' '2020-04-09'
 '2020-04-10' '2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14'
 '2020-04-15' '2020-04-16' '2020-04-17' '2020-04-18' '2020-04-19'
 '2020-04-20' '2020-04-21' '2020-04-22' '2020-04-23' '2020-04-24'
 '2020-04-25' '2020-04-26' '2020-04-27' '2020-04-28' '2020-04-29'
 '2020-04-30' '2020-05-01' '2020-05-02' '2020-05-03' '2020-05-04'
 '2020-05-05' '2020-05-06' '2020-05-07' '2020-05-08' '2020-05-09'
 '2020-05-10' '2020-05-11' '2020-05-12' '2020-05-13' '2020-05-14'
 '2020-05-15' '2020-05-16' '2020-05-17' '2020-05-18' '2020-05-19'
 '2020-05-20' '2020-05-21' '2020-05-22' '2020-05-23' '2020-05-24'
 '2020-05-25' '2020-05-26' '2020-05-27' '2020-05-28' '2020-05-29'
 '2020-05-30' '2020-05-31' '2020-06-01' '2020-06-02' '2020-06-03'
 '2020-06-04' '2020-06-05' '2020-06-06' '2020-06-07' '2020-06-08'
 '2020-06-09' '2020-06-10' '2020-06-11' '2020-06-12' '2020-06-13'
 '2020-06-14' '2020-06-15' '2020-06-16' '2020-06-17' '2020-06-18'
 '2020-06-19' '2020-06-20' '2020-06-21' '2020-06-22' '2020-06-23'
 '2020-06-24' '2020-06-25' '2020-06-26' '2020-06-27' '2020-06-28'
 '2020-06-29' '2020-06-30' '2020-07-01' '2020-07-02' '2020-07-03'
 '2020-07-04' '2020-07-05' '2020-07-06' '2020-07-07' '2020-07-08'
 '2020-07-09' '2020-07-10' '2020-07-11' '2020-07-12' '2020-07-13'
 '2020-07-14' '2020-07-15' '2020-07-16' '2020-07-17' '2020-07-18'
 '2020-07-19' '2020-07-20' '2020-07-21' '2020-07-22' '2020-07-23'
 '2020-07-24' '2020-07-25' '2020-07-26' '2020-07-27' '2020-07-28'
 '2020-07-29' '2020-07-30' '2020-07-31' '2020-08-01' '2020-08-02'
 '2020-08-03' '2020-08-04' '2020-08-05' '2020-08-06' '2020-08-07'
 '2020-08-08' '2020-08-09' '2020-08-10' '2020-08-11' '2020-08-12'
 '2020-08-13' '2020-08-14' '2020-08-15' '2020-08-16' '2020-08-17'
 '2020-08-18' '2020-08-19' '2020-08-20' '2020-08-21' '2020-08-22'
 '2020-08-23' '2020-08-24' '2020-08-25' '2020-08-26' '2020-08-27'
 '2020-08-28' '2020-08-29' '2020-08-30' '2020-08-31' '2020-09-01'
 '2020-09-02' '2020-09-03' '2020-09-04' '2020-09-05' '2020-09-06'
 '2020-09-07' '2020-09-08' '2020-09-09' '2020-09-10' '2020-09-11'
 '2020-09-12' '2020-09-13' '2020-09-14' '2020-09-15' '2020-09-16'
 '2020-09-17' '2020-09-18' '2020-09-19' '2020-09-20' '2020-09-21'
 '2020-09-22' '2020-09-23' '2020-09-24' '2020-09-25' '2020-09-26'
 '2020-09-27' '2020-09-28' '2020-09-29' '2020-09-30' '2020-10-01'
 '2020-10-02' '2020-10-03' '2020-10-04' '2020-10-05' '2020-10-06'
 '2020-10-07' '2020-10-08' '2020-10-09' '2020-10-10' '2020-10-11'
 '2020-10-12' '2020-10-13' '2020-10-14' '2020-10-15' '2020-10-16'
 '2020-10-17' '2020-10-18' '2020-10-19' '2020-10-20' '2020-10-21'
 '2020-10-22' '2020-10-23' '2020-10-24' '2020-10-25' '2020-10-26'
 '2020-10-27' '2020-10-28' '2020-10-29' '2020-10-30' '2020-10-31'
 '2020-11-01' '2020-11-02' '2020-11-03' '2020-11-04' '2020-11-05'
 '2020-11-06' '2020-11-07' '2020-11-08' '2020-11-09' '2020-11-10'
 '2020-11-11' '2020-11-12' '2020-11-13' '2020-11-14' '2020-11-15'
 '2020-11-16' '2020-11-17' '2020-11-18' '2020-11-19' '2020-11-20'
 '2020-11-21' '2020-11-22' '2020-11-23' '2020-11-24' '2020-11-25'
 '2020-11-26' '2020-11-27' '2020-11-28' '2020-11-29' '2020-11-30'
 '2020-12-01' '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05'
 '2020-12-06' '2020-12-07' '2020-12-08' '2020-12-09' '2020-12-10'
 '2020-12-11' '2020-12-12' '2020-12-13' '2020-12-14' '2020-12-15'
 '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20'
 '2020-12-21' '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25'
 '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-29' '2020-12-30'
 '2020-12-31']
~~~~~~~~~General_GB_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Bans gatherings of any size' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 51-100 people']
~~~~~~~~~General_GB_order_code
[1 6 7 5 2 4 3]
~~~~~~~~~General_or_Under_6ft_Bans_Gatherings_Over
[nan 'No ban' '9' '0' '10' '25' '249' '49' '5' '100' '50' 50.0 10.0 '999'
 0.0 999.0 49.0 25.0 '8' '15' '250' '75' 20.0 '6' '10000' '99' '4' 5.0
 99.0 9.0 4.0 500.0 100.0 '24' 6.0 249.0 24.0 8.0 250.0 15.0 '20' '150']
~~~~~~~~~With_SD_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 101 or more people' 'Bans gatherings of any size']
~~~~~~~~~With_SD_order_code
[1 6 5 3 4 2 7]
~~~~~~~~~Over_6ft_Bans_Gatherings_Over
[nan 'No ban' '10' '20' '100' '50' '25' '250' '0' 10.0 0.0 '3000' '10000'
 '6' '9' '5']
~~~~~~~~~outdoor_order_group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 11-25 people']
~~~~~~~~~outdoor_order_code
[1 7 6 3 2 4 5]
~~~~~~~~~General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over
[nan 0.0 '10' 'No ban' '0' '100' '500' '250' '50' '25' 10.0 30.0 50.0
 250.0 150.0 100.0 25.0 6.0 8.0 12.0 15.0 5.0 1000.0]
~~~~~~~~~With_SD_outdoor_order_group
['No order found' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 26-50 people']
~~~~~~~~~With_SD_outdoor_order_code
[1 5 2 3 6 4]
~~~~~~~~~Over_6ft_Bans_Outdoor_Gatherings_Over
[nan 20.0 'No ban' '175' '25' '100' '10' '50' '250' 100.0 25.0 250.0 15.0
 '15' '20' 500.0 150.0 'No Ban' '5']
~~~~~~~~~Current_order_status
[nan 'In effect']
~~~~~~~~~Jurisdiction_Type
['State' 'District (state)' 'Territory']
~~~~~~~~~Issuing_Jurisdiction
[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']
~~~~~~~~~Effective_date
[nan '2020-03-19' '2020-03-20' '2020-03-28' '2020-05-11' '2020-12-09'
 '2020-03-17' '2020-03-24' '2020-04-24' '2020-05-22' '2020-03-21'
 '2020-06-29' '2020-07-23' '2020-12-03' '2020-03-26' '2020-03-27'
 '2020-04-06' '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03'
 '2020-03-16' '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-18'
 '2020-11-25' '2020-11-29' '2020-12-02' '2020-12-16' '2020-12-17'
 '2020-12-11' '2020-12-06' '2020-12-23' '2020-12-30' '2020-04-02'
 '2020-04-10' '2020-04-27' '2020-05-08' '2020-05-14' '2020-05-26'
 '2020-06-01' '2020-06-18' '2020-06-30' '2020-07-30' '2020-08-21'
 '2020-09-20' '2020-09-22' '2020-09-28' '2020-09-29' '2020-10-02'
 '2020-10-05' '2020-10-08' '2020-10-17' '2020-10-24' '2020-10-29'
 '2020-10-31' '2020-11-02' '2020-11-07' '2020-11-11' '2020-11-20'
 '2020-11-23' '2020-12-01' '2020-12-05' '2020-12-07' '2020-12-10'
 '2020-12-15' '2020-12-29' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03' '2020-11-06'
 '2020-06-19' '2020-07-24' '2020-08-26' '2020-09-01' '2020-09-04'
 '2020-12-14' '2020-04-15' '2020-05-16' '2020-06-22' '2020-07-22'
 '2020-10-07' '2020-03-25' '2020-06-05' '2020-06-20' '2020-07-07'
 '2020-07-20' '2020-08-05' '2020-09-25' '2020-11-24' '2020-04-03'
 '2020-04-08' '2020-04-20' '2020-05-01' '2020-05-28' '2020-07-01'
 '2020-07-16' '2020-08-01' '2020-08-16' '2020-09-16' '2020-10-01'
 '2020-10-16' '2020-11-01' '2020-04-26' '2020-05-05' '2020-06-26'
 '2020-07-21' '2020-10-21' '2020-08-03' '2020-08-08' '2020-08-20'
 '2020-08-27' '2020-09-10' '2020-09-24' '2020-10-22' '2020-06-10'
 '2020-07-17' '2020-05-03' '2020-05-09' '2020-08-11' '2020-10-23'
 '2020-04-30' '2020-07-06' '2020-07-31' '2020-08-06' '2020-10-06'
 '2020-10-15' '2020-10-27' '2020-11-12' '2020-12-12' '2020-11-14'
 '2020-03-13' '2020-03-18' '2020-04-01' '2020-09-18' '2020-08-18'
 '2020-09-02' '2020-10-28' '2020-10-03' '2020-10-25' '2020-11-04'
 '2020-06-12' '2020-09-26' '2020-10-18' '2020-11-15' '2020-12-13'
 '2020-12-21' '2020-12-28' '2020-05-21' '2020-05-13' '2020-06-25'
 '2020-11-17' '2020-04-16' '2020-04-18' '2020-03-23' '2020-05-15'
 '2020-07-13' '2020-08-07' '2020-08-28' '2020-09-11' '2020-04-07'
 '2020-04-29' '2020-10-13' '2020-03-30' '2020-05-06' '2020-05-27'
 '2020-06-03' '2020-03-31' '2020-04-28' '2020-06-08' '2020-12-26'
 '2020-04-09' '2020-05-07' '2020-05-31' '2020-06-09' '2020-12-18'
 '2020-04-17' '2020-07-02' '2020-08-17' '2020-08-31' '2020-09-14'
 '2020-09-30' '2020-05-12' '2020-04-22' '2020-09-21' '2020-11-16'
 '2020-12-24' '2020-03-29' '2020-11-05' '2020-04-04' '2020-08-04'
 '2020-04-11' '2020-08-29' '2020-11-30' '2020-06-13' '2020-06-23'
 '2020-06-24' '2020-07-09' '2020-10-14' '2020-11-09' '2020-11-19'
 '2020-03-14' '2020-04-23' '2020-04-13' '2020-05-30' '2020-07-10'
 '2020-05-23' '2020-06-06' '2020-07-14' '2020-07-15' '2020-09-19'
 '2020-03-22' '2020-07-29' '2020-10-30' '2020-08-10' '2020-08-25'
 '2020-09-09' '2020-11-08' '2020-12-08' '2020-12-20' '2020-07-27'
 '2020-08-14' '2020-09-23' '2020-11-10' '2020-03-15' '2020-09-03'
 '2020-06-11' '2020-07-04' '2020-03-11' '2020-10-10' '2020-11-21'
 '2020-11-27' '2020-11-28' '2020-12-19' '2020-12-27' '2020-10-19'
 '2020-04-05' '2020-05-10' '2020-08-24' '2020-09-07' '2020-08-02'
 '2020-08-09' '2020-08-15' '2020-08-22' '2020-08-23' '2020-08-30'
 '2020-09-06' '2020-08-13']
~~~~~~~~~Expiration_date
[nan '2020-05-15' '2020-12-11' '2021-01-22' '2020-04-18' '2020-04-11'
 '2020-04-26' '2020-05-26' '2020-06-01' '2020-07-01' '2020-07-30'
 '2020-08-20' '2020-09-20' '2020-10-19' '2020-11-05' '2020-11-29'
 '2020-12-20' '2021-01-06' '2020-10-05' '2020-11-04' '2020-04-30'
 '2020-05-20' '2020-06-20' '2020-07-03' '2020-05-31' '2020-06-15'
 '2020-03-31' '2020-04-24' '2020-06-08' '2020-07-24' '2020-10-09'
 '2020-12-31' '2020-04-06' '2020-04-13' '2020-05-13' '2020-06-28'
 '2020-06-30' '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31'
 '2020-09-15' '2020-09-30' '2020-10-15' '2020-10-31' '2020-11-15'
 '2020-11-30' '2020-12-15' '2021-02-14' '2020-06-05' '2020-09-04'
 '2020-09-16' '2020-09-09' '2020-09-23' '2020-08-27' '2020-08-29'
 '2020-10-29' '2020-04-15' '2020-09-19' '2020-10-17' '2020-11-14'
 '2020-12-12' '2021-01-09' '2020-04-20' '2020-05-01' '2020-05-04'
 '2020-05-23' '2020-06-13' '2020-07-17' '2020-09-25' '2021-01-03'
 '2020-05-11' '2020-05-18' '2020-05-27' '2020-06-17' '2020-06-25'
 '2020-07-25' '2020-08-23' '2020-10-18' '2020-12-10' '2020-12-16'
 '2021-01-08' '2020-12-13' '2020-08-07' '2020-08-28' '2020-09-11'
 '2020-11-06' '2020-12-04' '2020-12-23' '2021-01-13' '2020-04-08'
 '2020-04-05' '2020-04-07' '2020-05-19' '2021-01-10' '2020-05-28'
 '2020-06-12' '2020-10-30' '2020-12-08' '2021-01-15' '2020-12-18'
 '2020-04-14' '2020-04-27' '2020-05-25' '2020-06-29' '2020-07-06'
 '2020-07-20' '2020-08-03' '2020-08-17' '2020-09-14' '2020-11-11'
 '2020-05-03' '2020-04-10' '2020-09-13' '2021-01-31' '2020-05-10'
 '2020-05-06' '2020-04-16' '2020-05-30' '2020-09-01' '2020-10-01'
 '2020-09-18' '2020-10-02' '2020-10-16' '2020-11-13' '2020-11-16'
 '2020-12-02' '2020-12-30' '2021-01-29' '2020-04-22' '2020-04-29'
 '2020-06-06' '2020-06-21' '2020-07-13' '2020-07-26' '2020-08-12'
 '2021-01-01' '2020-05-08' '2020-05-22' '2020-06-26' '2020-10-23'
 '2020-05-29' '2020-04-28' '2020-05-02' '2020-05-16' '2020-05-24'
 '2020-06-11' '2020-07-12' '2020-08-09' '2020-09-27' '2020-10-25'
 '2020-11-23' '2020-12-17' '2020-06-04' '2021-01-04' '2020-03-30'
 '2020-07-29' '2020-09-28' '2020-10-28' '2020-11-27' '2020-11-22'
 '2021-01-19' '2020-10-24' '2020-11-08' '2020-12-29' '2020-04-01'
 '2020-07-10' '2020-11-12' '2021-01-21' '2020-06-10' '2020-09-10'
 '2020-12-14' '2021-01-11' '2020-04-03' '2020-04-17' '2020-05-05'
 '2020-06-14' '2020-09-06' '2020-04-12' '2020-08-08' '2020-08-10'
 '2020-08-21' '2020-08-24' '2020-09-05' '2020-09-07' '2020-12-19'
 '2020-12-21' '2020-12-26' '2020-12-28' '2021-01-02']
~~~~~~~~~Effective_NA_Reason
[nan]
~~~~~~~~~Expiration_NA_Reason
[nan 'Until rescinded' 'Duration of emergency' 'Not listed'
 'Upon further order' 'Undetermined' 'Indefinite' 'Until Rescineded']
~~~~~~~~~General_Household_Order_Group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 households']
~~~~~~~~~General_Household_order_code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Generally
[nan  0.  3.]
~~~~~~~~~Outdoor_Household_Order_Group
['No order found' 'Ban of gatherings over 1-10 households']
~~~~~~~~~Outdoor_Household_Order_Code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Outdoor_Only
[nan  3.]
~~~~~~~~~Date_Signed
[nan '2020-03-19' '2020-03-20' '2020-04-28' '2020-11-05' '2020-12-09'
 '2020-03-17' '2020-03-23' '2020-04-21' '2020-04-24' '2020-05-19'
 '2020-06-29' '2020-07-23' '2020-12-02' '2020-03-26' '2020-04-04'
 '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03' '2020-03-16'
 '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-17' '2020-11-24'
 '2020-11-28' '2020-12-01' '2020-12-08' '2020-12-15' '2020-12-16'
 '2020-12-10' '2020-12-05' '2020-12-22' '2020-12-29' '2020-03-18'
 '2020-03-27' '2020-04-01' '2020-04-09' '2020-04-26' '2020-05-08'
 '2020-05-14' '2020-05-26' '2020-06-05' '2020-06-18' '2020-06-30'
 '2020-07-30' '2020-08-21' '2020-09-20' '2020-09-22' '2020-09-28'
 '2020-09-29' '2020-10-02' '2020-10-05' '2020-10-08' '2020-10-17'
 '2020-10-24' '2020-10-29' '2020-10-31' '2020-11-02' '2020-11-07'
 '2020-11-11' '2020-11-18' '2020-11-20' '2020-11-23' '2020-11-25'
 '2020-12-03' '2020-12-07' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-04-10' '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03'
 '2020-11-06' '2020-05-31' '2020-06-14' '2020-06-19' '2020-07-24'
 '2020-08-26' '2020-09-01' '2020-09-03' '2020-09-25' '2020-03-24'
 '2020-04-15' '2020-05-13' '2020-05-27' '2020-07-22' '2020-10-07'
 '2020-03-25' '2020-04-29' '2020-05-09' '2020-06-03' '2020-06-20'
 '2020-07-07' '2020-07-20' '2020-08-05' '2020-04-02' '2020-04-08'
 '2020-04-20' '2020-04-23' '2020-05-12' '2020-05-28' '2020-06-11'
 '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31' '2020-09-30'
 '2020-10-15' '2020-10-30' '2020-11-30' '2020-04-25' '2020-05-05'
 '2020-06-10' '2020-06-26' '2020-10-18' '2020-12-17' '2020-08-03'
 '2020-08-06' '2020-08-19' '2020-08-25' '2020-09-23' '2020-10-20'
 '2020-07-17' '2020-08-20' '2020-05-03' '2020-08-11' '2020-10-23'
 '2020-04-27' '2020-05-07' '2020-06-09' '2020-07-08' '2020-08-07'
 '2020-08-28' '2020-10-01' '2020-10-14' '2020-10-26' '2020-11-10'
 '2020-12-24' '2020-04-30' '2020-12-30' '2020-03-13' '2020-09-18'
 '2020-10-16' '2020-12-11' '2020-10-21' '2020-08-18' '2020-09-02'
 '2020-10-27' '2020-04-06' '2020-05-01' '2020-05-21' '2020-07-01'
 '2020-07-16' '2020-09-24' '2020-12-06' '2020-12-14' '2020-12-21'
 '2020-12-28' '2020-06-25' '2020-11-16' '2020-04-16' '2020-04-07'
 '2020-04-17' '2020-05-20' '2020-03-22' '2020-07-11' '2020-09-11'
 '2020-03-31' '2020-08-01' '2020-10-06' '2020-11-04' '2020-03-30'
 '2020-05-06' '2020-03-15' '2020-05-15' '2020-06-06' '2020-07-02'
 '2020-05-22' '2020-06-01' '2020-07-29' '2020-11-15' '2020-12-18'
 '2020-07-19' '2020-08-14' '2020-09-13' '2020-10-19' '2020-07-10'
 '2020-03-21' '2020-04-03' '2020-04-22' '2020-05-11' '2020-07-28'
 '2020-08-10' '2020-11-09' '2020-03-29' '2020-12-13' '2020-11-14'
 '2020-06-22' '2020-04-11' '2020-06-12' '2020-07-13' '2020-10-22'
 '2020-06-13' '2020-06-23' '2020-06-24' '2020-07-06' '2020-07-09'
 '2020-07-21' '2020-10-28' '2020-11-19' '2020-03-14' '2020-09-04'
 '2020-04-13' '2020-05-30' '2020-05-23' '2020-06-08' '2020-07-14'
 '2020-08-13' '2020-08-17' '2020-09-19' '2020-03-28' '2020-06-04'
 '2020-08-02' '2020-09-09' '2020-11-08' '2020-12-23' '2020-08-29'
 '2020-12-20' '2020-09-17' '2020-07-27' '2020-08-08' '2020-11-12'
 '2020-06-02' '2020-09-10' '2020-10-13' '2020-03-11' '2020-09-26'
 '2020-10-03' '2020-10-10' '2020-11-21' '2020-11-27' '2020-11-29'
 '2020-12-12' '2020-12-19' '2020-12-27' '2020-08-12' '2020-11-01'
 '2020-04-05' '2020-08-27' '2020-05-25' '2020-09-07' '2020-04-12']
~~~~~~~~~Express_Preemption
[nan 'Expressly Preempts w/ Process for Approval' 'Expressly Preempts'
 'Expressly Preempts Less Restrictive Measures' 'Unknown'
 'Expressly Does Not Preempt' 'Expressly Does Not Preempt Generally']
~~~~~~~~~origin_dataset
[nan 'state.terr']
~~~~~~~~~Indoor_Outdoor
[nan 'Outdoor only' 'Indoor only' 'Indoor/Outdoor' 'indoor only' 'Outdoor'
 'Indoor']
~~~~~~~~~Source_of_Action
[nan 'Official' 'News' 'Offcial' 'Official�' 'Oficial' '�' 'Press Release'
 'official' 'Official Announcement' 'News Media']

In [7]:
print(bans_columns)

Index(['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County',
       'date', 'General_GB_order_group', 'General_GB_order_code',
       'General_or_Under_6ft_Bans_Gatherings_Over', 'With_SD_order_group',
       'With_SD_order_code', 'Over_6ft_Bans_Gatherings_Over',
       'outdoor_order_group', 'outdoor_order_code',
       'General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over',
       'With_SD_outdoor_order_group', 'With_SD_outdoor_order_code',
       'Over_6ft_Bans_Outdoor_Gatherings_Over', 'Current_order_status',
       'Jurisdiction_Type', 'Issuing_Jurisdiction', 'Effective_date',
       'Expiration_date', 'Effective_NA_Reason', 'Expiration_NA_Reason',
       'General_Household_Order_Group', 'General_Household_order_code',
       'Bans_Households_Not_Individuals_Generally',
       'Outdoor_Household_Order_Group', 'Outdoor_Household_Order_Code',
       'Bans_Households_Not_Individuals_Outdoor_Only', 'Date_Signed',
       'Express_Preemption', 'origin_dataset', 'Indoor_Outdoor',
       'Source_of_Action', 'URL', 'Citation'],
      dtype='object')

In [8]:
#drop US territories, keep DC
bans_us = bans.copy()
bans_us = bans_us[~bans_us['State_Tribe_Territory'].isin(['AS','GU','MP','PR','VI'])]
bans_us.rename(columns={'State_Tribe_Territory':'State'},inplace=True)
bans_us['State'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [9]:
#Decide on what columns to keep
GB_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_GB_order_group',
    'General_GB_order_code',
    'Current_order_status'
]

bans_us_GB = bans_us.copy()
bans_us_GB = bans_us_GB[GB_cols]
bans_us_GB = bans_us_GB[bans_us_GB['General_GB_order_code']!=1]
bans_us_GB.insert(5,'Order_type','General_GB')
bans_us_GB.rename(columns={'General_GB_order_group':'Order_group','General_GB_order_code':'Order_code'},inplace=True)
bans_us_GB.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
18,AL,Autauga County,2020-03-29,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
19,AL,Autauga County,2020-03-30,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
20,AL,Autauga County,2020-03-31,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
21,AL,Autauga County,2020-04-01,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect

In [10]:
Outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'outdoor_order_group',
    'outdoor_order_code',
    'Current_order_status'
]

bans_us_Outdoor = bans_us.copy()
bans_us_Outdoor = bans_us_Outdoor[Outdoor_cols]
bans_us_Outdoor = bans_us_Outdoor[bans_us_Outdoor['outdoor_order_code']!=1]
bans_us_Outdoor.insert(5,'Order_type','Outdoor')
bans_us_Outdoor.rename(columns={'outdoor_order_group':'Order_group','outdoor_order_code':'Order_code'},inplace=True)
bans_us_Outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
19876,AK,Aleutians East Borough,2020-04-24,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19877,AK,Aleutians East Borough,2020-04-25,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19878,AK,Aleutians East Borough,2020-04-26,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19879,AK,Aleutians East Borough,2020-04-27,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19880,AK,Aleutians East Borough,2020-04-28,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect

In [11]:
SD_outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'With_SD_outdoor_order_group',
    'With_SD_outdoor_order_code',
    'Current_order_status'
]

bans_us_SD_outdoor = bans_us.copy()
bans_us_SD_outdoor = bans_us_SD_outdoor[SD_outdoor_cols]
bans_us_SD_outdoor = bans_us_SD_outdoor[bans_us_SD_outdoor['With_SD_outdoor_order_code']!=1]
bans_us_SD_outdoor.insert(5,'Order_type','With_SD_outdoor')
bans_us_SD_outdoor.rename(columns={'With_SD_outdoor_order_group':'Order_group','With_SD_outdoor_order_code':'Order_code'},inplace=True)
bans_us_SD_outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
19876,AK,Aleutians East Borough,2020-04-24,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19877,AK,Aleutians East Borough,2020-04-25,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19878,AK,Aleutians East Borough,2020-04-26,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19879,AK,Aleutians East Borough,2020-04-27,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19880,AK,Aleutians East Borough,2020-04-28,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect

In [12]:
HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_Household_Order_Group',
    'General_Household_order_code',
    'Current_order_status'
]

bans_us_HH = bans_us.copy()
bans_us_HH = bans_us_HH[HH_cols]
bans_us_HH = bans_us_HH[bans_us_HH['General_Household_order_code']!=1]
bans_us_HH.insert(5,'Order_type','General_household')
bans_us_HH.rename(columns={'General_Household_Order_Group':'Order_group','General_Household_order_code':'Order_code'},inplace=True)
bans_us_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect

In [13]:
Outdoor_HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'Outdoor_Household_Order_Group',
    'Outdoor_Household_Order_Code',
    'Current_order_status'
]

bans_us_outdoor_HH = bans_us.copy()
bans_us_outdoor_HH = bans_us_outdoor_HH[Outdoor_HH_cols]
bans_us_outdoor_HH = bans_us_outdoor_HH[bans_us_outdoor_HH['Outdoor_Household_Order_Code']!=1]
bans_us_outdoor_HH.insert(5,'Order_type','Outdoor_household')
bans_us_outdoor_HH.rename(columns={'Outdoor_Household_Order_Group':'Order_group','Outdoor_Household_Order_Code':'Order_code'},inplace=True)
bans_us_outdoor_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect

In [14]:
order_frames = [bans_us_GB,bans_us_Outdoor,bans_us_SD_outdoor,bans_us_HH,bans_us_outdoor_HH]

for frame in order_frames:
    print(frame.shape)

(642428, 9)
(130655, 9)
(56241, 9)
(3836, 9)
(3836, 9)

In [15]:
ban_orders = pd.concat(order_frames)
ban_orders.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
18,AL,Autauga County,2020-03-29,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
19,AL,Autauga County,2020-03-30,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
20,AL,Autauga County,2020-03-31,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
21,AL,Autauga County,2020-04-01,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect

In [16]:
print(ban_orders.shape)

(836996, 9)

In [17]:
ban_orders_unique = ban_orders.copy()
ban_orders_unique.drop(columns=['date'],inplace=True)
ban_orders_unique.drop_duplicates(inplace=True)
ban_orders_unique.head()

,State,County_Name,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
61,AL,Autauga County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect
273,AL,Autauga County,2020-12-09,2021-01-22,General_GB,Bans gatherings of any size,7,In effect
313,AL,Baldwin County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
357,AL,Baldwin County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect

In [18]:
ban_orders_unique.shape

(46319, 8)

In [19]:
print(ban_orders_unique['State'].unique())

['AL' 'AK' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX' 'UT'
 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

Comparing the unique list of states before and after data wrangling, 'ND' and 'SD' and missing from the data after wrangling. This suggests that the two states were filtered out due to all their order codes being equal to 1, implying that the date of their gathering bans was either not recorded or not observed.