In [1]:
import pandas as pd
bans = pd.read_csv(r"data\U.S._State_Gathering_Bans__2020.csv")

C:\Users\nmato\AppData\Local\Programs\Python\Python38-32\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (7,10,13,16,21,23,33,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
import numpy as np

In [3]:
bans.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,General_GB_order_group,General_GB_order_code,General_or_Under_6ft_Bans_Gatherings_Over,With_SD_order_group,With_SD_order_code,...,Outdoor_Household_Order_Group,Outdoor_Household_Order_Code,Bans_Households_Not_Individuals_Outdoor_Only,Date_Signed,Express_Preemption,origin_dataset,Indoor_Outdoor,Source_of_Action,URL,Citation
0,AL,Autauga County,1,1,2020-03-11,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Autauga County,1,1,2020-03-12,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,Autauga County,1,1,2020-03-13,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Autauga County,1,1,2020-03-14,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Autauga County,1,1,2020-03-15,No order found,1,NaN,No order found,1,...,No order found,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bans_columns = bans.columns
print(bans_columns)

Index(['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County',
       'date', 'General_GB_order_group', 'General_GB_order_code',
       'General_or_Under_6ft_Bans_Gatherings_Over', 'With_SD_order_group',
       'With_SD_order_code', 'Over_6ft_Bans_Gatherings_Over',
       'outdoor_order_group', 'outdoor_order_code',
       'General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over',
       'With_SD_outdoor_order_group', 'With_SD_outdoor_order_code',
       'Over_6ft_Bans_Outdoor_Gatherings_Over', 'Current_order_status',
       'Jurisdiction_Type', 'Issuing_Jurisdiction', 'Effective_date',
       'Expiration_date', 'Effective_NA_Reason', 'Expiration_NA_Reason',
       'General_Household_Order_Group', 'General_Household_order_code',
       'Bans_Households_Not_Individuals_Generally',
       'Outdoor_Household_Order_Group', 'Outdoor_Household_Order_Code',
       'Bans_Households_Not_Individuals_Outdoor_Only', 'Date_Signed',
       'Express_Preemption', 'origin_dataset', 'Indoor_Outdoor',
       'Source_of_Action', 'URL', 'Citation'],
      dtype='object')

In [5]:
print(bans['Issuing_Jurisdiction'].unique())

[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']

In [6]:
#x-axis time period
#y-axis whether a ban was in effect (gatherings,)

#look into the issuing jurisdiction (is it at the state level)
#Use a bar graph to

In [7]:
for col in bans_columns[:35]:
    print("~~~~~~~~~"+col)
    print(bans[col].unique())

~~~~~~~~~State_Tribe_Territory
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'MP' 'PR' 'VI']
~~~~~~~~~County_Name
['Autauga County' 'Baldwin County' 'Barbour County' ... 'St. Croix Island'
 'St. John Island' 'St. Thomas Island']
~~~~~~~~~FIPS_State
[ 1  2  4  5  6  8  9 10 11 12 13 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 51 53
 54 55 56 60 66 69 72 78]
~~~~~~~~~FIPS_County
[  1   3   5   7   9  11  13  15  17  19  21  23  25  27  29  31  33  35
  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71
  73  75  77  79  81  83  85  87  89  91  93  95  97  99 101 103 105 107
 109 111 113 115 117 119 121 123 125 127 129 131 133  16  20  50  60  68
  70  90 100 110 122 130 150 158 164 170 180 185 188 195 198 220 230 240
 261 275 282 290  12 135 137 139 141 143 145 147 149  14  86 151 153 155
 157 159 161 163 165 167 169 171 173 175 177 179 181 183 187 189 191 193
 197 199 201 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233
 235 237 239 241 243 245 247 249 251 253 255 257 259 263 265 267 269 271
 273 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309
 311 313 315 317 319 321 203 510 186   6  28 102 323 325 327 329 331 333
 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369
 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405
 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441
 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477
 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507  36 520 530
 540 550 570 580 590 595 600 610 620 630 640 650 660 670 678 680 683 685
 690 700 710 720 730 735 740 750 760 770 775 790 800 810 820 830 840  78
  10  30  40 120  54]
~~~~~~~~~date
['2020-03-11' '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15'
 '2020-03-16' '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20'
 '2020-03-21' '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25'
 '2020-03-26' '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30'
 '2020-03-31' '2020-04-01' '2020-04-02' '2020-04-03' '2020-04-04'
 '2020-04-05' '2020-04-06' '2020-04-07' '2020-04-08' '2020-04-09'
 '2020-04-10' '2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14'
 '2020-04-15' '2020-04-16' '2020-04-17' '2020-04-18' '2020-04-19'
 '2020-04-20' '2020-04-21' '2020-04-22' '2020-04-23' '2020-04-24'
 '2020-04-25' '2020-04-26' '2020-04-27' '2020-04-28' '2020-04-29'
 '2020-04-30' '2020-05-01' '2020-05-02' '2020-05-03' '2020-05-04'
 '2020-05-05' '2020-05-06' '2020-05-07' '2020-05-08' '2020-05-09'
 '2020-05-10' '2020-05-11' '2020-05-12' '2020-05-13' '2020-05-14'
 '2020-05-15' '2020-05-16' '2020-05-17' '2020-05-18' '2020-05-19'
 '2020-05-20' '2020-05-21' '2020-05-22' '2020-05-23' '2020-05-24'
 '2020-05-25' '2020-05-26' '2020-05-27' '2020-05-28' '2020-05-29'
 '2020-05-30' '2020-05-31' '2020-06-01' '2020-06-02' '2020-06-03'
 '2020-06-04' '2020-06-05' '2020-06-06' '2020-06-07' '2020-06-08'
 '2020-06-09' '2020-06-10' '2020-06-11' '2020-06-12' '2020-06-13'
 '2020-06-14' '2020-06-15' '2020-06-16' '2020-06-17' '2020-06-18'
 '2020-06-19' '2020-06-20' '2020-06-21' '2020-06-22' '2020-06-23'
 '2020-06-24' '2020-06-25' '2020-06-26' '2020-06-27' '2020-06-28'
 '2020-06-29' '2020-06-30' '2020-07-01' '2020-07-02' '2020-07-03'
 '2020-07-04' '2020-07-05' '2020-07-06' '2020-07-07' '2020-07-08'
 '2020-07-09' '2020-07-10' '2020-07-11' '2020-07-12' '2020-07-13'
 '2020-07-14' '2020-07-15' '2020-07-16' '2020-07-17' '2020-07-18'
 '2020-07-19' '2020-07-20' '2020-07-21' '2020-07-22' '2020-07-23'
 '2020-07-24' '2020-07-25' '2020-07-26' '2020-07-27' '2020-07-28'
 '2020-07-29' '2020-07-30' '2020-07-31' '2020-08-01' '2020-08-02'
 '2020-08-03' '2020-08-04' '2020-08-05' '2020-08-06' '2020-08-07'
 '2020-08-08' '2020-08-09' '2020-08-10' '2020-08-11' '2020-08-12'
 '2020-08-13' '2020-08-14' '2020-08-15' '2020-08-16' '2020-08-17'
 '2020-08-18' '2020-08-19' '2020-08-20' '2020-08-21' '2020-08-22'
 '2020-08-23' '2020-08-24' '2020-08-25' '2020-08-26' '2020-08-27'
 '2020-08-28' '2020-08-29' '2020-08-30' '2020-08-31' '2020-09-01'
 '2020-09-02' '2020-09-03' '2020-09-04' '2020-09-05' '2020-09-06'
 '2020-09-07' '2020-09-08' '2020-09-09' '2020-09-10' '2020-09-11'
 '2020-09-12' '2020-09-13' '2020-09-14' '2020-09-15' '2020-09-16'
 '2020-09-17' '2020-09-18' '2020-09-19' '2020-09-20' '2020-09-21'
 '2020-09-22' '2020-09-23' '2020-09-24' '2020-09-25' '2020-09-26'
 '2020-09-27' '2020-09-28' '2020-09-29' '2020-09-30' '2020-10-01'
 '2020-10-02' '2020-10-03' '2020-10-04' '2020-10-05' '2020-10-06'
 '2020-10-07' '2020-10-08' '2020-10-09' '2020-10-10' '2020-10-11'
 '2020-10-12' '2020-10-13' '2020-10-14' '2020-10-15' '2020-10-16'
 '2020-10-17' '2020-10-18' '2020-10-19' '2020-10-20' '2020-10-21'
 '2020-10-22' '2020-10-23' '2020-10-24' '2020-10-25' '2020-10-26'
 '2020-10-27' '2020-10-28' '2020-10-29' '2020-10-30' '2020-10-31'
 '2020-11-01' '2020-11-02' '2020-11-03' '2020-11-04' '2020-11-05'
 '2020-11-06' '2020-11-07' '2020-11-08' '2020-11-09' '2020-11-10'
 '2020-11-11' '2020-11-12' '2020-11-13' '2020-11-14' '2020-11-15'
 '2020-11-16' '2020-11-17' '2020-11-18' '2020-11-19' '2020-11-20'
 '2020-11-21' '2020-11-22' '2020-11-23' '2020-11-24' '2020-11-25'
 '2020-11-26' '2020-11-27' '2020-11-28' '2020-11-29' '2020-11-30'
 '2020-12-01' '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05'
 '2020-12-06' '2020-12-07' '2020-12-08' '2020-12-09' '2020-12-10'
 '2020-12-11' '2020-12-12' '2020-12-13' '2020-12-14' '2020-12-15'
 '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20'
 '2020-12-21' '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25'
 '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-29' '2020-12-30'
 '2020-12-31']
~~~~~~~~~General_GB_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Bans gatherings of any size' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 51-100 people']
~~~~~~~~~General_GB_order_code
[1 6 7 5 2 4 3]
~~~~~~~~~General_or_Under_6ft_Bans_Gatherings_Over
[nan 'No ban' '9' '0' '10' '25' '249' '49' '5' '100' '50' 50.0 10.0 '999'
 0.0 999.0 49.0 25.0 '8' '15' '250' '75' 20.0 '6' '10000' '99' '4' 5.0
 99.0 9.0 4.0 500.0 100.0 '24' 6.0 249.0 24.0 8.0 250.0 15.0 '20' '150']
~~~~~~~~~With_SD_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 101 or more people' 'Bans gatherings of any size']
~~~~~~~~~With_SD_order_code
[1 6 5 3 4 2 7]
~~~~~~~~~Over_6ft_Bans_Gatherings_Over
[nan 'No ban' '10' '20' '100' '50' '25' '250' '0' 10.0 0.0 '3000' '10000'
 '6' '9' '5']
~~~~~~~~~outdoor_order_group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 11-25 people']
~~~~~~~~~outdoor_order_code
[1 7 6 3 2 4 5]
~~~~~~~~~General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over
[nan 0.0 '10' 'No ban' '0' '100' '500' '250' '50' '25' 10.0 30.0 50.0
 250.0 150.0 100.0 25.0 6.0 8.0 12.0 15.0 5.0 1000.0]
~~~~~~~~~With_SD_outdoor_order_group
['No order found' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 26-50 people']
~~~~~~~~~With_SD_outdoor_order_code
[1 5 2 3 6 4]
~~~~~~~~~Over_6ft_Bans_Outdoor_Gatherings_Over
[nan 20.0 'No ban' '175' '25' '100' '10' '50' '250' 100.0 25.0 250.0 15.0
 '15' '20' 500.0 150.0 'No Ban' '5']
~~~~~~~~~Current_order_status
[nan 'In effect']
~~~~~~~~~Jurisdiction_Type
['State' 'District (state)' 'Territory']
~~~~~~~~~Issuing_Jurisdiction
[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']
~~~~~~~~~Effective_date
[nan '2020-03-19' '2020-03-20' '2020-03-28' '2020-05-11' '2020-12-09'
 '2020-03-17' '2020-03-24' '2020-04-24' '2020-05-22' '2020-03-21'
 '2020-06-29' '2020-07-23' '2020-12-03' '2020-03-26' '2020-03-27'
 '2020-04-06' '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03'
 '2020-03-16' '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-18'
 '2020-11-25' '2020-11-29' '2020-12-02' '2020-12-16' '2020-12-17'
 '2020-12-11' '2020-12-06' '2020-12-23' '2020-12-30' '2020-04-02'
 '2020-04-10' '2020-04-27' '2020-05-08' '2020-05-14' '2020-05-26'
 '2020-06-01' '2020-06-18' '2020-06-30' '2020-07-30' '2020-08-21'
 '2020-09-20' '2020-09-22' '2020-09-28' '2020-09-29' '2020-10-02'
 '2020-10-05' '2020-10-08' '2020-10-17' '2020-10-24' '2020-10-29'
 '2020-10-31' '2020-11-02' '2020-11-07' '2020-11-11' '2020-11-20'
 '2020-11-23' '2020-12-01' '2020-12-05' '2020-12-07' '2020-12-10'
 '2020-12-15' '2020-12-29' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03' '2020-11-06'
 '2020-06-19' '2020-07-24' '2020-08-26' '2020-09-01' '2020-09-04'
 '2020-12-14' '2020-04-15' '2020-05-16' '2020-06-22' '2020-07-22'
 '2020-10-07' '2020-03-25' '2020-06-05' '2020-06-20' '2020-07-07'
 '2020-07-20' '2020-08-05' '2020-09-25' '2020-11-24' '2020-04-03'
 '2020-04-08' '2020-04-20' '2020-05-01' '2020-05-28' '2020-07-01'
 '2020-07-16' '2020-08-01' '2020-08-16' '2020-09-16' '2020-10-01'
 '2020-10-16' '2020-11-01' '2020-04-26' '2020-05-05' '2020-06-26'
 '2020-07-21' '2020-10-21' '2020-08-03' '2020-08-08' '2020-08-20'
 '2020-08-27' '2020-09-10' '2020-09-24' '2020-10-22' '2020-06-10'
 '2020-07-17' '2020-05-03' '2020-05-09' '2020-08-11' '2020-10-23'
 '2020-04-30' '2020-07-06' '2020-07-31' '2020-08-06' '2020-10-06'
 '2020-10-15' '2020-10-27' '2020-11-12' '2020-12-12' '2020-11-14'
 '2020-03-13' '2020-03-18' '2020-04-01' '2020-09-18' '2020-08-18'
 '2020-09-02' '2020-10-28' '2020-10-03' '2020-10-25' '2020-11-04'
 '2020-06-12' '2020-09-26' '2020-10-18' '2020-11-15' '2020-12-13'
 '2020-12-21' '2020-12-28' '2020-05-21' '2020-05-13' '2020-06-25'
 '2020-11-17' '2020-04-16' '2020-04-18' '2020-03-23' '2020-05-15'
 '2020-07-13' '2020-08-07' '2020-08-28' '2020-09-11' '2020-04-07'
 '2020-04-29' '2020-10-13' '2020-03-30' '2020-05-06' '2020-05-27'
 '2020-06-03' '2020-03-31' '2020-04-28' '2020-06-08' '2020-12-26'
 '2020-04-09' '2020-05-07' '2020-05-31' '2020-06-09' '2020-12-18'
 '2020-04-17' '2020-07-02' '2020-08-17' '2020-08-31' '2020-09-14'
 '2020-09-30' '2020-05-12' '2020-04-22' '2020-09-21' '2020-11-16'
 '2020-12-24' '2020-03-29' '2020-11-05' '2020-04-04' '2020-08-04'
 '2020-04-11' '2020-08-29' '2020-11-30' '2020-06-13' '2020-06-23'
 '2020-06-24' '2020-07-09' '2020-10-14' '2020-11-09' '2020-11-19'
 '2020-03-14' '2020-04-23' '2020-04-13' '2020-05-30' '2020-07-10'
 '2020-05-23' '2020-06-06' '2020-07-14' '2020-07-15' '2020-09-19'
 '2020-03-22' '2020-07-29' '2020-10-30' '2020-08-10' '2020-08-25'
 '2020-09-09' '2020-11-08' '2020-12-08' '2020-12-20' '2020-07-27'
 '2020-08-14' '2020-09-23' '2020-11-10' '2020-03-15' '2020-09-03'
 '2020-06-11' '2020-07-04' '2020-03-11' '2020-10-10' '2020-11-21'
 '2020-11-27' '2020-11-28' '2020-12-19' '2020-12-27' '2020-10-19'
 '2020-04-05' '2020-05-10' '2020-08-24' '2020-09-07' '2020-08-02'
 '2020-08-09' '2020-08-15' '2020-08-22' '2020-08-23' '2020-08-30'
 '2020-09-06' '2020-08-13']
~~~~~~~~~Expiration_date
[nan '2020-05-15' '2020-12-11' '2021-01-22' '2020-04-18' '2020-04-11'
 '2020-04-26' '2020-05-26' '2020-06-01' '2020-07-01' '2020-07-30'
 '2020-08-20' '2020-09-20' '2020-10-19' '2020-11-05' '2020-11-29'
 '2020-12-20' '2021-01-06' '2020-10-05' '2020-11-04' '2020-04-30'
 '2020-05-20' '2020-06-20' '2020-07-03' '2020-05-31' '2020-06-15'
 '2020-03-31' '2020-04-24' '2020-06-08' '2020-07-24' '2020-10-09'
 '2020-12-31' '2020-04-06' '2020-04-13' '2020-05-13' '2020-06-28'
 '2020-06-30' '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31'
 '2020-09-15' '2020-09-30' '2020-10-15' '2020-10-31' '2020-11-15'
 '2020-11-30' '2020-12-15' '2021-02-14' '2020-06-05' '2020-09-04'
 '2020-09-16' '2020-09-09' '2020-09-23' '2020-08-27' '2020-08-29'
 '2020-10-29' '2020-04-15' '2020-09-19' '2020-10-17' '2020-11-14'
 '2020-12-12' '2021-01-09' '2020-04-20' '2020-05-01' '2020-05-04'
 '2020-05-23' '2020-06-13' '2020-07-17' '2020-09-25' '2021-01-03'
 '2020-05-11' '2020-05-18' '2020-05-27' '2020-06-17' '2020-06-25'
 '2020-07-25' '2020-08-23' '2020-10-18' '2020-12-10' '2020-12-16'
 '2021-01-08' '2020-12-13' '2020-08-07' '2020-08-28' '2020-09-11'
 '2020-11-06' '2020-12-04' '2020-12-23' '2021-01-13' '2020-04-08'
 '2020-04-05' '2020-04-07' '2020-05-19' '2021-01-10' '2020-05-28'
 '2020-06-12' '2020-10-30' '2020-12-08' '2021-01-15' '2020-12-18'
 '2020-04-14' '2020-04-27' '2020-05-25' '2020-06-29' '2020-07-06'
 '2020-07-20' '2020-08-03' '2020-08-17' '2020-09-14' '2020-11-11'
 '2020-05-03' '2020-04-10' '2020-09-13' '2021-01-31' '2020-05-10'
 '2020-05-06' '2020-04-16' '2020-05-30' '2020-09-01' '2020-10-01'
 '2020-09-18' '2020-10-02' '2020-10-16' '2020-11-13' '2020-11-16'
 '2020-12-02' '2020-12-30' '2021-01-29' '2020-04-22' '2020-04-29'
 '2020-06-06' '2020-06-21' '2020-07-13' '2020-07-26' '2020-08-12'
 '2021-01-01' '2020-05-08' '2020-05-22' '2020-06-26' '2020-10-23'
 '2020-05-29' '2020-04-28' '2020-05-02' '2020-05-16' '2020-05-24'
 '2020-06-11' '2020-07-12' '2020-08-09' '2020-09-27' '2020-10-25'
 '2020-11-23' '2020-12-17' '2020-06-04' '2021-01-04' '2020-03-30'
 '2020-07-29' '2020-09-28' '2020-10-28' '2020-11-27' '2020-11-22'
 '2021-01-19' '2020-10-24' '2020-11-08' '2020-12-29' '2020-04-01'
 '2020-07-10' '2020-11-12' '2021-01-21' '2020-06-10' '2020-09-10'
 '2020-12-14' '2021-01-11' '2020-04-03' '2020-04-17' '2020-05-05'
 '2020-06-14' '2020-09-06' '2020-04-12' '2020-08-08' '2020-08-10'
 '2020-08-21' '2020-08-24' '2020-09-05' '2020-09-07' '2020-12-19'
 '2020-12-21' '2020-12-26' '2020-12-28' '2021-01-02']
~~~~~~~~~Effective_NA_Reason
[nan]
~~~~~~~~~Expiration_NA_Reason
[nan 'Until rescinded' 'Duration of emergency' 'Not listed'
 'Upon further order' 'Undetermined' 'Indefinite' 'Until Rescineded']
~~~~~~~~~General_Household_Order_Group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 households']
~~~~~~~~~General_Household_order_code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Generally
[nan  0.  3.]
~~~~~~~~~Outdoor_Household_Order_Group
['No order found' 'Ban of gatherings over 1-10 households']
~~~~~~~~~Outdoor_Household_Order_Code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Outdoor_Only
[nan  3.]
~~~~~~~~~Date_Signed
[nan '2020-03-19' '2020-03-20' '2020-04-28' '2020-11-05' '2020-12-09'
 '2020-03-17' '2020-03-23' '2020-04-21' '2020-04-24' '2020-05-19'
 '2020-06-29' '2020-07-23' '2020-12-02' '2020-03-26' '2020-04-04'
 '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03' '2020-03-16'
 '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-17' '2020-11-24'
 '2020-11-28' '2020-12-01' '2020-12-08' '2020-12-15' '2020-12-16'
 '2020-12-10' '2020-12-05' '2020-12-22' '2020-12-29' '2020-03-18'
 '2020-03-27' '2020-04-01' '2020-04-09' '2020-04-26' '2020-05-08'
 '2020-05-14' '2020-05-26' '2020-06-05' '2020-06-18' '2020-06-30'
 '2020-07-30' '2020-08-21' '2020-09-20' '2020-09-22' '2020-09-28'
 '2020-09-29' '2020-10-02' '2020-10-05' '2020-10-08' '2020-10-17'
 '2020-10-24' '2020-10-29' '2020-10-31' '2020-11-02' '2020-11-07'
 '2020-11-11' '2020-11-18' '2020-11-20' '2020-11-23' '2020-11-25'
 '2020-12-03' '2020-12-07' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-04-10' '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03'
 '2020-11-06' '2020-05-31' '2020-06-14' '2020-06-19' '2020-07-24'
 '2020-08-26' '2020-09-01' '2020-09-03' '2020-09-25' '2020-03-24'
 '2020-04-15' '2020-05-13' '2020-05-27' '2020-07-22' '2020-10-07'
 '2020-03-25' '2020-04-29' '2020-05-09' '2020-06-03' '2020-06-20'
 '2020-07-07' '2020-07-20' '2020-08-05' '2020-04-02' '2020-04-08'
 '2020-04-20' '2020-04-23' '2020-05-12' '2020-05-28' '2020-06-11'
 '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31' '2020-09-30'
 '2020-10-15' '2020-10-30' '2020-11-30' '2020-04-25' '2020-05-05'
 '2020-06-10' '2020-06-26' '2020-10-18' '2020-12-17' '2020-08-03'
 '2020-08-06' '2020-08-19' '2020-08-25' '2020-09-23' '2020-10-20'
 '2020-07-17' '2020-08-20' '2020-05-03' '2020-08-11' '2020-10-23'
 '2020-04-27' '2020-05-07' '2020-06-09' '2020-07-08' '2020-08-07'
 '2020-08-28' '2020-10-01' '2020-10-14' '2020-10-26' '2020-11-10'
 '2020-12-24' '2020-04-30' '2020-12-30' '2020-03-13' '2020-09-18'
 '2020-10-16' '2020-12-11' '2020-10-21' '2020-08-18' '2020-09-02'
 '2020-10-27' '2020-04-06' '2020-05-01' '2020-05-21' '2020-07-01'
 '2020-07-16' '2020-09-24' '2020-12-06' '2020-12-14' '2020-12-21'
 '2020-12-28' '2020-06-25' '2020-11-16' '2020-04-16' '2020-04-07'
 '2020-04-17' '2020-05-20' '2020-03-22' '2020-07-11' '2020-09-11'
 '2020-03-31' '2020-08-01' '2020-10-06' '2020-11-04' '2020-03-30'
 '2020-05-06' '2020-03-15' '2020-05-15' '2020-06-06' '2020-07-02'
 '2020-05-22' '2020-06-01' '2020-07-29' '2020-11-15' '2020-12-18'
 '2020-07-19' '2020-08-14' '2020-09-13' '2020-10-19' '2020-07-10'
 '2020-03-21' '2020-04-03' '2020-04-22' '2020-05-11' '2020-07-28'
 '2020-08-10' '2020-11-09' '2020-03-29' '2020-12-13' '2020-11-14'
 '2020-06-22' '2020-04-11' '2020-06-12' '2020-07-13' '2020-10-22'
 '2020-06-13' '2020-06-23' '2020-06-24' '2020-07-06' '2020-07-09'
 '2020-07-21' '2020-10-28' '2020-11-19' '2020-03-14' '2020-09-04'
 '2020-04-13' '2020-05-30' '2020-05-23' '2020-06-08' '2020-07-14'
 '2020-08-13' '2020-08-17' '2020-09-19' '2020-03-28' '2020-06-04'
 '2020-08-02' '2020-09-09' '2020-11-08' '2020-12-23' '2020-08-29'
 '2020-12-20' '2020-09-17' '2020-07-27' '2020-08-08' '2020-11-12'
 '2020-06-02' '2020-09-10' '2020-10-13' '2020-03-11' '2020-09-26'
 '2020-10-03' '2020-10-10' '2020-11-21' '2020-11-27' '2020-11-29'
 '2020-12-12' '2020-12-19' '2020-12-27' '2020-08-12' '2020-11-01'
 '2020-04-05' '2020-08-27' '2020-05-25' '2020-09-07' '2020-04-12']
~~~~~~~~~Express_Preemption
[nan 'Expressly Preempts w/ Process for Approval' 'Expressly Preempts'
 'Expressly Preempts Less Restrictive Measures' 'Unknown'
 'Expressly Does Not Preempt' 'Expressly Does Not Preempt Generally']
~~~~~~~~~origin_dataset
[nan 'state.terr']
~~~~~~~~~Indoor_Outdoor
[nan 'Outdoor only' 'Indoor only' 'Indoor/Outdoor' 'indoor only' 'Outdoor'
 'Indoor']
~~~~~~~~~Source_of_Action
[nan 'Official' 'News' 'Offcial' 'Officialï¿½' 'Oficial' 'ï¿½' 'Press Release'
 'official' 'Official Announcement' 'News Media']

In [8]:
print(bans_columns)

Index(['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County',
       'date', 'General_GB_order_group', 'General_GB_order_code',
       'General_or_Under_6ft_Bans_Gatherings_Over', 'With_SD_order_group',
       'With_SD_order_code', 'Over_6ft_Bans_Gatherings_Over',
       'outdoor_order_group', 'outdoor_order_code',
       'General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over',
       'With_SD_outdoor_order_group', 'With_SD_outdoor_order_code',
       'Over_6ft_Bans_Outdoor_Gatherings_Over', 'Current_order_status',
       'Jurisdiction_Type', 'Issuing_Jurisdiction', 'Effective_date',
       'Expiration_date', 'Effective_NA_Reason', 'Expiration_NA_Reason',
       'General_Household_Order_Group', 'General_Household_order_code',
       'Bans_Households_Not_Individuals_Generally',
       'Outdoor_Household_Order_Group', 'Outdoor_Household_Order_Code',
       'Bans_Households_Not_Individuals_Outdoor_Only', 'Date_Signed',
       'Express_Preemption', 'origin_dataset', 'Indoor_Outdoor',
       'Source_of_Action', 'URL', 'Citation'],
      dtype='object')

In [9]:
#drop US territories, keep DC
bans_us = bans.copy()
bans_us = bans_us[~bans_us['State_Tribe_Territory'].isin(['AS','GU','MP','PR','VI'])]
bans_us.rename(columns={'State_Tribe_Territory':'State'},inplace=True)
bans_us['State'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [10]:
#Decide on what columns to keep

#Separate the different order types into different data frames

#Get General ban orders into a dataframe
GB_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_GB_order_group',
    'General_GB_order_code',
    'Current_order_status'
]

bans_us_GB = bans_us.copy()
bans_us_GB = bans_us_GB[GB_cols]

#Remove observations of 'No ban'
bans_us_GB = bans_us_GB[bans_us_GB['General_GB_order_code']!=1]

#Add order type to the df
bans_us_GB.insert(5,'Order_type','General_GB')

bans_us_GB.rename(columns={'General_GB_order_group':'Order_group','General_GB_order_code':'Order_code'},inplace=True)
bans_us_GB.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
18,AL,Autauga County,2020-03-29,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
19,AL,Autauga County,2020-03-30,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
20,AL,Autauga County,2020-03-31,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
21,AL,Autauga County,2020-04-01,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect

In [11]:
#Get outdoor ban orders into a dataframe
Outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'outdoor_order_group',
    'outdoor_order_code',
    'Current_order_status'
]

bans_us_Outdoor = bans_us.copy()
bans_us_Outdoor = bans_us_Outdoor[Outdoor_cols]

#Remove observations of 'No ban'
bans_us_Outdoor = bans_us_Outdoor[bans_us_Outdoor['outdoor_order_code']!=1]

#Add order type to the df
bans_us_Outdoor.insert(5,'Order_type','Outdoor')

bans_us_Outdoor.rename(columns={'outdoor_order_group':'Order_group','outdoor_order_code':'Order_code'},inplace=True)
bans_us_Outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
19876,AK,Aleutians East Borough,2020-04-24,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19877,AK,Aleutians East Borough,2020-04-25,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19878,AK,Aleutians East Borough,2020-04-26,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19879,AK,Aleutians East Borough,2020-04-27,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19880,AK,Aleutians East Borough,2020-04-28,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect

In [12]:
#Get Outdoor ban orders with Social Distancing into a dataframe
SD_outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'With_SD_outdoor_order_group',
    'With_SD_outdoor_order_code',
    'Current_order_status'
]

bans_us_SD_outdoor = bans_us.copy()
bans_us_SD_outdoor = bans_us_SD_outdoor[SD_outdoor_cols]

#Remove observations of 'No ban'
bans_us_SD_outdoor = bans_us_SD_outdoor[bans_us_SD_outdoor['With_SD_outdoor_order_code']!=1]

#Add order type to the df
bans_us_SD_outdoor.insert(5,'Order_type','With_SD_outdoor')

bans_us_SD_outdoor.rename(columns={'With_SD_outdoor_order_group':'Order_group','With_SD_outdoor_order_code':'Order_code'},inplace=True)
bans_us_SD_outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
19876,AK,Aleutians East Borough,2020-04-24,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19877,AK,Aleutians East Borough,2020-04-25,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19878,AK,Aleutians East Borough,2020-04-26,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19879,AK,Aleutians East Borough,2020-04-27,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect
19880,AK,Aleutians East Borough,2020-04-28,2020-04-24,NaN,With_SD_outdoor,Ban of gatherings over 11-25 people,5,In effect

In [13]:
HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_Household_Order_Group',
    'General_Household_order_code',
    'Current_order_status'
]

bans_us_HH = bans_us.copy()
bans_us_HH = bans_us_HH[HH_cols]
bans_us_HH = bans_us_HH[bans_us_HH['General_Household_order_code']!=1]
bans_us_HH.insert(5,'Order_type','General_household')
bans_us_HH.rename(columns={'General_Household_Order_Group':'Order_group','General_Household_order_code':'Order_code'},inplace=True)
bans_us_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect

In [14]:
Outdoor_HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'Outdoor_Household_Order_Group',
    'Outdoor_Household_Order_Code',
    'Current_order_status'
]

bans_us_outdoor_HH = bans_us.copy()
bans_us_outdoor_HH = bans_us_outdoor_HH[Outdoor_HH_cols]
bans_us_outdoor_HH = bans_us_outdoor_HH[bans_us_outdoor_HH['Outdoor_Household_Order_Code']!=1]
bans_us_outdoor_HH.insert(5,'Order_type','Outdoor_household')
bans_us_outdoor_HH.rename(columns={'Outdoor_Household_Order_Group':'Order_group','Outdoor_Household_Order_Code':'Order_code'},inplace=True)
bans_us_outdoor_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect

In [15]:
order_frames = [bans_us_GB,bans_us_Outdoor,bans_us_SD_outdoor,bans_us_HH,bans_us_outdoor_HH]

#Get the number of bans observed for each ban type
for frame in order_frames:
    print(frame.shape)

(642428, 9)
(130655, 9)
(56241, 9)
(3836, 9)
(3836, 9)

In [16]:
#Merge the dataframes to record the states, counties, and dates of all order types
ban_orders = pd.concat(order_frames)
ban_orders.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
18,AL,Autauga County,2020-03-29,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
19,AL,Autauga County,2020-03-30,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
20,AL,Autauga County,2020-03-31,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
21,AL,Autauga County,2020-04-01,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect

In [17]:
#Get the number of ban order rows observed
print(ban_orders.shape)

(836996, 9)

In [18]:
#Create dataframe that isn't tied to the 'date' column
#This changes level of data from 'date' to 'county_name'
ban_orders_unique = ban_orders.copy()
ban_orders_unique.drop(columns=['date'],inplace=True)
ban_orders_unique.drop_duplicates(inplace=True)
ban_orders_unique.head()

,State,County_Name,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
61,AL,Autauga County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect
273,AL,Autauga County,2020-12-09,2021-01-22,General_GB,Bans gatherings of any size,7,In effect
313,AL,Baldwin County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
357,AL,Baldwin County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect

In [19]:
#Check that the number unique ban order rows are less than the number of ban order rows observed
ban_orders_unique.shape

(46319, 8)

In [20]:
#Check what states are included in the unique bans dataset
print(ban_orders_unique['State'].unique())

['AL' 'AK' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX' 'UT'
 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

Comparing the unique list of states before and after data wrangling, 'AZ', 'ND', and 'SD' and missing from the data after wrangling. This suggests that the two states were filtered out due to all their order codes being equal to 1, implying that the date of their gathering bans was either not recorded or not observed.

In [21]:
#Get counts of unique county bans observed for each state
ban_order_states = ban_orders_unique.groupby(['State'])['Order_group'].count().to_frame()
ban_order_states

       Order_group
State
AK             147
AL             201
AR             525
CA            1018
CO            2747
CT             136
DC              11
DE              24
FL             201
GA            3180
HI              96
IA            1400
ID             308
IL            1783
IN            1843
KS             840
KY             600
LA            1472
MA             364
MD             216
ME             208
MI            3416
MN             870
MO             345
MS            3816
MT             280
NC            2400
NE            1517
NH              40
NJ             483
NM             915
NV             172
NY            2485
OH             704
OK             693
OR            1473
PA             806
RI             140
SC             598
TN             475
TX             762
UT             658
VA            1750
VT             210
WA            1413
WI             504
WV            1430
WY             644

In [22]:
#Use example state to see if any ban rows are out of the ordinary
pd.set_option('display.max_rows', ban_orders_unique[(ban_orders_unique['State']=='HI')].shape[0]+1)
print(ban_orders_unique[(ban_orders_unique['State']=='HI')])

       State      County_Name Effective_date Expiration_date       Order_type  \
161630    HI    Hawaii County     2020-03-25             NaN       General_GB
161662    HI    Hawaii County     2020-04-26      2020-05-31       General_GB
161671    HI    Hawaii County     2020-05-05             NaN       General_GB
161684    HI    Hawaii County     2020-05-18             NaN       General_GB
161712    HI    Hawaii County     2020-06-15      2020-07-31       General_GB
161723    HI    Hawaii County     2020-06-26      2020-07-31       General_GB
161748    HI    Hawaii County     2020-07-21      2020-08-31       General_GB
161779    HI    Hawaii County     2020-08-21      2020-09-30       General_GB
161817    HI    Hawaii County     2020-09-28      2020-10-31       General_GB
161840    HI    Hawaii County     2020-10-21      2020-11-30       General_GB
161875    HI    Hawaii County     2020-11-25      2020-12-31       General_GB
161897    HI    Hawaii County     2020-12-17      2021-02-14       General_GB
161926    HI  Honolulu County     2020-03-25             NaN       General_GB
161958    HI  Honolulu County     2020-04-26      2020-05-31       General_GB
161967    HI  Honolulu County     2020-05-05             NaN       General_GB
161980    HI  Honolulu County     2020-05-18             NaN       General_GB
161990    HI  Honolulu County     2020-05-28      2020-06-05       General_GB
161998    HI  Honolulu County     2020-06-05      2020-06-30       General_GB
162023    HI  Honolulu County     2020-06-30      2020-07-31       General_GB
162053    HI  Honolulu County     2020-07-30      2020-08-31       General_GB
162057    HI  Honolulu County     2020-08-03      2020-08-31       General_GB
162062    HI  Honolulu County     2020-08-08      2020-09-04       General_GB
162074    HI  Honolulu County     2020-08-20      2020-09-16       General_GB
162081    HI  Honolulu County     2020-08-27      2020-09-09       General_GB
162095    HI  Honolulu County     2020-09-10      2020-09-23       General_GB
162109    HI  Honolulu County     2020-09-24      2020-10-31       General_GB
162137    HI  Honolulu County     2020-10-22      2020-11-30       General_GB
162166    HI  Honolulu County     2020-11-20      2020-12-31       General_GB
162205    HI  Honolulu County     2020-12-29      2021-02-14       General_GB
162222    HI   Kalawao County     2020-03-25             NaN       General_GB
162254    HI   Kalawao County     2020-04-26      2020-05-31       General_GB
162263    HI   Kalawao County     2020-05-05             NaN       General_GB
162276    HI   Kalawao County     2020-05-18             NaN       General_GB
162518    HI     Kauai County     2020-03-25             NaN       General_GB
162550    HI     Kauai County     2020-04-26      2020-05-31       General_GB
162557    HI     Kauai County     2020-05-03      2020-05-31       General_GB
162559    HI     Kauai County     2020-05-05             NaN       General_GB
162563    HI     Kauai County     2020-05-09      2020-05-31       General_GB
162572    HI     Kauai County     2020-05-18             NaN       General_GB
162602    HI     Kauai County     2020-06-17             NaN       General_GB
162638    HI     Kauai County     2020-07-23             NaN       General_GB
162657    HI     Kauai County     2020-08-11             NaN       General_GB
162730    HI     Kauai County     2020-10-23             NaN       General_GB
162814    HI      Maui County     2020-03-25             NaN       General_GB
162846    HI      Maui County     2020-04-26      2020-05-31       General_GB
162850    HI      Maui County     2020-04-30      2020-05-31       General_GB
162861    HI      Maui County     2020-05-11      2020-05-31       General_GB
162868    HI      Maui County     2020-05-18             NaN       General_GB
162879    HI      Maui County     2020-05-29      2020-06-30       General_GB
162896    HI      Maui County     2020-06-15      2020-06-30       General_GB
162911    HI      Maui County     2020-06-30      2020-08-27       General_GB
162917    HI      Maui County     2020-07-06      2020-08-27       General_GB
162934    HI      Maui County     2020-07-23      2020-08-27       General_GB
162942    HI      Maui County     2020-07-31      2020-08-29       General_GB
162948    HI      Maui County     2020-08-06      2020-08-29       General_GB
162969    HI      Maui County     2020-08-27      2020-10-29       General_GB
163009    HI      Maui County     2020-10-06      2020-10-29       General_GB
163018    HI      Maui County     2020-10-15             NaN       General_GB
163030    HI      Maui County     2020-10-27             NaN       General_GB
163046    HI      Maui County     2020-11-12             NaN       General_GB
163071    HI      Maui County     2020-12-07             NaN       General_GB
163076    HI      Maui County     2020-12-12             NaN       General_GB
163093    HI      Maui County     2020-12-29             NaN       General_GB
161712    HI    Hawaii County     2020-06-15      2020-07-31          Outdoor
161723    HI    Hawaii County     2020-06-26      2020-07-31          Outdoor
161748    HI    Hawaii County     2020-07-21      2020-08-31          Outdoor
161990    HI  Honolulu County     2020-05-28      2020-06-05          Outdoor
161998    HI  Honolulu County     2020-06-05      2020-06-30          Outdoor
162023    HI  Honolulu County     2020-06-30      2020-07-31          Outdoor
162053    HI  Honolulu County     2020-07-30      2020-08-31          Outdoor
162057    HI  Honolulu County     2020-08-03      2020-08-31          Outdoor
162062    HI  Honolulu County     2020-08-08      2020-09-04          Outdoor
162602    HI     Kauai County     2020-06-17             NaN          Outdoor
162638    HI     Kauai County     2020-07-23             NaN          Outdoor
162657    HI     Kauai County     2020-08-11             NaN          Outdoor
162730    HI     Kauai County     2020-10-23             NaN          Outdoor
162896    HI      Maui County     2020-06-15      2020-06-30          Outdoor
162911    HI      Maui County     2020-06-30      2020-08-27          Outdoor
162917    HI      Maui County     2020-07-06      2020-08-27          Outdoor
162934    HI      Maui County     2020-07-23      2020-08-27          Outdoor
161712    HI    Hawaii County     2020-06-15      2020-07-31  With_SD_outdoor
161723    HI    Hawaii County     2020-06-26      2020-07-31  With_SD_outdoor
161748    HI    Hawaii County     2020-07-21      2020-08-31  With_SD_outdoor
161998    HI  Honolulu County     2020-06-05      2020-06-30  With_SD_outdoor
162023    HI  Honolulu County     2020-06-30      2020-07-31  With_SD_outdoor
162053    HI  Honolulu County     2020-07-30      2020-08-31  With_SD_outdoor
162057    HI  Honolulu County     2020-08-03      2020-08-31  With_SD_outdoor
162062    HI  Honolulu County     2020-08-08      2020-09-04  With_SD_outdoor
162602    HI     Kauai County     2020-06-17             NaN  With_SD_outdoor
162638    HI     Kauai County     2020-07-23             NaN  With_SD_outdoor
162657    HI     Kauai County     2020-08-11             NaN  With_SD_outdoor
162730    HI     Kauai County     2020-10-23             NaN  With_SD_outdoor
162896    HI      Maui County     2020-06-15      2020-06-30  With_SD_outdoor
162911    HI      Maui County     2020-06-30      2020-08-27  With_SD_outdoor
162917    HI      Maui County     2020-07-06      2020-08-27  With_SD_outdoor
162934    HI      Maui County     2020-07-23      2020-08-27  With_SD_outdoor

                                 Order_group  Order_code Current_order_status
161630    Ban of gatherings over 1-10 people           6            In effect
161662    Ban of gatherings over 1-10 people           6            In effect
161671    Ban of gatherings over 1-10 people           6            In effect
161684    Ban of gatherings over 1-10 people           6            In effect
161712    Ban of gatherings over 1-10 people           6            In effect
161723    Ban of gatherings over 1-10 people           6            In effect
161748           Bans gatherings of any size           7            In effect
161779    Ban of gatherings over 1-10 people           6            In effect
161817    Ban of gatherings over 1-10 people           6            In effect
161840    Ban of gatherings over 1-10 people           6            In effect
161875    Ban of gatherings over 1-10 people           6            In effect
161897    Ban of gatherings over 1-10 people           6            In effect
161926    Ban of gatherings over 1-10 people           6            In effect
161958    Ban of gatherings over 1-10 people           6            In effect
161967    Ban of gatherings over 1-10 people           6            In effect
161980    Ban of gatherings over 1-10 people           6            In effect
161990    Ban of gatherings over 1-10 people           6            In effect
161998    Ban of gatherings over 1-10 people           6            In effect
162023    Ban of gatherings over 1-10 people           6            In effect
162053           Bans gatherings of any size           7            In effect
162057           Bans gatherings of any size           7            In effect
162062           Bans gatherings of any size           7            In effect
162074           Bans gatherings of any size           7            In effect
162081           Bans gatherings of any size           7            In effect
162095           Bans gatherings of any size           7            In effect
162109    Ban of gatherings over 1-10 people           6            In effect
162137    Ban of gatherings over 1-10 people           6            In effect
162166    Ban of gatherings over 1-10 people           6            In effect
162205    Ban of gatherings over 1-10 people           6            In effect
162222    Ban of gatherings over 1-10 people           6            In effect
162254    Ban of gatherings over 1-10 people           6            In effect
162263    Ban of gatherings over 1-10 people           6            In effect
162276    Ban of gatherings over 1-10 people           6            In effect
162518    Ban of gatherings over 1-10 people           6            In effect
162550    Ban of gatherings over 1-10 people           6            In effect
162557    Ban of gatherings over 1-10 people           6            In effect
162559    Ban of gatherings over 1-10 people           6            In effect
162563    Ban of gatherings over 1-10 people           6            In effect
162572    Ban of gatherings over 1-10 people           6            In effect
162602           Bans gatherings of any size           7            In effect
162638           Bans gatherings of any size           7            In effect
162657           Bans gatherings of any size           7            In effect
162730           Bans gatherings of any size           7            In effect
162814    Ban of gatherings over 1-10 people           6            In effect
162846    Ban of gatherings over 1-10 people           6            In effect
162850           Bans gatherings of any size           7            In effect
162861    Ban of gatherings over 1-10 people           6            In effect
162868    Ban of gatherings over 1-10 people           6            In effect
162879    Ban of gatherings over 1-10 people           6            In effect
162896    Ban of gatherings over 1-10 people           6            In effect
162911    Ban of gatherings over 1-10 people           6            In effect
162917    Ban of gatherings over 1-10 people           6            In effect
162934    Ban of gatherings over 1-10 people           6            In effect
162942    Ban of gatherings over 1-10 people           6            In effect
162948    Ban of gatherings over 1-10 people           6            In effect
162969    Ban of gatherings over 1-10 people           6            In effect
163009    Ban of gatherings over 1-10 people           6            In effect
163018    Ban of gatherings over 1-10 people           6            In effect
163030    Ban of gatherings over 1-10 people           6            In effect
163046    Ban of gatherings over 1-10 people           6            In effect
163071    Ban of gatherings over 1-10 people           6            In effect
163076    Ban of gatherings over 1-10 people           6            In effect
163093    Ban of gatherings over 1-10 people           6            In effect
161712    Ban of gatherings over 1-10 people           6            In effect
161723    Ban of gatherings over 1-10 people           6            In effect
161748           Bans gatherings of any size           7            In effect
161990    Ban of gatherings over 1-10 people           6            In effect
161998    Ban of gatherings over 1-10 people           6            In effect
162023    Ban of gatherings over 1-10 people           6            In effect
162053           Bans gatherings of any size           7            In effect
162057           Bans gatherings of any size           7            In effect
162062           Bans gatherings of any size           7            In effect
162602           Bans gatherings of any size           7            In effect
162638           Bans gatherings of any size           7            In effect
162657           Bans gatherings of any size           7            In effect
162730           Bans gatherings of any size           7            In effect
162896    Ban of gatherings over 1-10 people           6            In effect
162911    Ban of gatherings over 1-10 people           6            In effect
162917    Ban of gatherings over 1-10 people           6            In effect
162934    Ban of gatherings over 1-10 people           6            In effect
161712  Ban of gatherings over 51-100 people           3            In effect
161723  Ban of gatherings over 51-100 people           3            In effect
161748  Ban of gatherings over 51-100 people           3            In effect
161998  Ban of gatherings over 51-100 people           3            In effect
162023  Ban of gatherings over 51-100 people           3            In effect
162053  Ban of gatherings over 51-100 people           3            In effect
162057    Ban of gatherings over 1-10 people           6            In effect
162062    Ban of gatherings over 1-10 people           6            In effect
162602  Ban of gatherings over 51-100 people           3            In effect
162638  Ban of gatherings over 51-100 people           3            In effect
162657   Ban of gatherings over 11-25 people           5            In effect
162730   Ban of gatherings over 11-25 people           5            In effect
162896  Ban of gatherings over 51-100 people           3            In effect
162911  Ban of gatherings over 51-100 people           3            In effect
162917  Ban of gatherings over 51-100 people           3            In effect
162934  Ban of gatherings over 51-100 people           3            In effect

In [23]:
#Use data with number of counties
#obtained from thefactfile.org/us-states-counties/
state_counties = pd.read_excel('data/State_Counties.xlsx')
state_counties

   State  # Counties
0     AK          20
1     AL          67
2     AR          75
3     AZ          15
4     CA          58
5     CO          64
6     CT           8
7     DC           1
8     DE           3
9     FL          67
10    GA         159
11    HI           5
12    IA          99
13    ID          44
14    IL         102
15    IN          92
16    KS         105
17    KY         120
18    LA          64
19    MA          14
20    MD          24
21    ME          16
22    MI          83
23    MN          87
24    MO         115
25    MS          82
26    MT          56
27    NC         100
28    ND          53
29    NE          93
30    NH          10
31    NJ          21
32    NM          33
33    NV          17
34    NY          62
35    OH          88
36    OK          77
37    OR          36
38    PA          67
39    RI           5
40    SC          46
41    SD          66
42    TN          95
43    TX         254
44    UT          29
45    VA         133
46    VT          14
47    WA          39
48    WI          72
49    WV          55
50    WY          23

In [24]:
#add number of counties to table with number of orders made for counties in each state
state_county_bans = ban_order_states.merge(state_counties, on='State', how='left')
state_county_bans

   State  Order_group  # Counties
0     AK          147          20
1     AL          201          67
2     AR          525          75
3     CA         1018          58
4     CO         2747          64
5     CT          136           8
6     DC           11           1
7     DE           24           3
8     FL          201          67
9     GA         3180         159
10    HI           96           5
11    IA         1400          99
12    ID          308          44
13    IL         1783         102
14    IN         1843          92
15    KS          840         105
16    KY          600         120
17    LA         1472          64
18    MA          364          14
19    MD          216          24
20    ME          208          16
21    MI         3416          83
22    MN          870          87
23    MO          345         115
24    MS         3816          82
25    MT          280          56
26    NC         2400         100
27    NE         1517          93
28    NH           40          10
29    NJ          483          21
30    NM          915          33
31    NV          172          17
32    NY         2485          62
33    OH          704          88
34    OK          693          77
35    OR         1473          36
36    PA          806          67
37    RI          140           5
38    SC          598          46
39    TN          475          95
40    TX          762         254
41    UT          658          29
42    VA         1750         133
43    VT          210          14
44    WA         1413          39
45    WI          504          72
46    WV         1430          55
47    WY          644          23

In [25]:
#Find states that don't have county numbers. 
states_missing = state_counties.merge(ban_order_states,on='State',how='left')
states_missing = states_missing[states_missing['Order_group'].isnull()]
states = states_missing['State'].to_frame()

#Add a column to account for missing states in final bans per county data
states['Bans per county'] = 0
states

   State  Bans per county
3     AZ                0
28    ND                0
41    SD                0

In [26]:
#calculate bans per county for states that have county numbers
bans_county = state_county_bans.copy()
bans_county['Bans per county']= bans_county['Order_group']/bans_county['# Counties']

#Make bans per county an integer not a float
bans_county['Bans per county'] = bans_county['Bans per county'].apply(np.floor)
bans_county['Bans per county'] = bans_county['Bans per county'].astype('int32')

#Remove unnecessary columns from final dataset
bans_county.drop(columns=['Order_group','# Counties'],inplace=True)
bans_county

   State  Bans per county
0     AK                7
1     AL                3
2     AR                7
3     CA               17
4     CO               42
5     CT               17
6     DC               11
7     DE                8
8     FL                3
9     GA               20
10    HI               19
11    IA               14
12    ID                7
13    IL               17
14    IN               20
15    KS                8
16    KY                5
17    LA               23
18    MA               26
19    MD                9
20    ME               13
21    MI               41
22    MN               10
23    MO                3
24    MS               46
25    MT                5
26    NC               24
27    NE               16
28    NH                4
29    NJ               23
30    NM               27
31    NV               10
32    NY               40
33    OH                8
34    OK                9
35    OR               40
36    PA               12
37    RI               28
38    SC               13
39    TN                5
40    TX                3
41    UT               22
42    VA               13
43    VT               15
44    WA               36
45    WI                7
46    WV               26
47    WY               28

In [27]:
#Create final bans per county dataset with all states and DC
#Reset the index for accurate counting
bans_per_county = pd.concat([bans_county,states]).sort_values(by=['State']).reset_index(drop=True)
bans_per_county

   State  Bans per county
0     AK                7
1     AL                3
2     AR                7
3     AZ                0
4     CA               17
5     CO               42
6     CT               17
7     DC               11
8     DE                8
9     FL                3
10    GA               20
11    HI               19
12    IA               14
13    ID                7
14    IL               17
15    IN               20
16    KS                8
17    KY                5
18    LA               23
19    MA               26
20    MD                9
21    ME               13
22    MI               41
23    MN               10
24    MO                3
25    MS               46
26    MT                5
27    NC               24
28    ND                0
29    NE               16
30    NH                4
31    NJ               23
32    NM               27
33    NV               10
34    NY               40
35    OH                8
36    OK                9
37    OR               40
38    PA               12
39    RI               28
40    SC               13
41    SD                0
42    TN                5
43    TX                3
44    UT               22
45    VA               13
46    VT               15
47    WA               36
48    WI                7
49    WV               26
50    WY               28

In [28]:
bans_county.to_csv(r'data/StateBansPerCounty.csv',index=False)