In [109]:
import pandas as pd
import numpy as np

In [111]:
bans = pd.read_csv(r"data/U.S._State_Gathering_Bans__2020.csv")
bans.head()

In [113]:
bans_columns = bans.columns
print(bans_columns)

Index(['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County',
       'date', 'General_GB_order_group', 'General_GB_order_code',
       'General_or_Under_6ft_Bans_Gatherings_Over', 'With_SD_order_group',
       'With_SD_order_code', 'Over_6ft_Bans_Gatherings_Over',
       'outdoor_order_group', 'outdoor_order_code',
       'General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over',
       'With_SD_outdoor_order_group', 'With_SD_outdoor_order_code',
       'Over_6ft_Bans_Outdoor_Gatherings_Over', 'Current_order_status',
       'Jurisdiction_Type', 'Issuing_Jurisdiction', 'Effective_date',
       'Expiration_date', 'Effective_NA_Reason', 'Expiration_NA_Reason',
       'General_Household_Order_Group', 'General_Household_order_code',
       'Bans_Households_Not_Individuals_Generally',
       'Outdoor_Household_Order_Group', 'Outdoor_Household_Order_Code',
       'Bans_Households_Not_Individuals_Outdoor_Only', 'Date_Signed',
       'Express_Preemption', 'origin_dataset', 'Indoor_Outdoor',
       'Source_of_Action', 'URL', 'Citation'],
      dtype='object')

In [115]:
print(bans['Issuing_Jurisdiction'].unique())

[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']

In [116]:
#x-axis time period
#y-axis whether a ban was in effect (gatherings,)

#look into the issuing jurisdiction (is it at the state level)
#Use a bar graph to

In [184]:
for col in bans_columns[:35]:
    print("~~~~~~~~~"+col)
    print(bans[col].unique())

~~~~~~~~~State_Tribe_Territory
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'MP' 'PR' 'VI']
~~~~~~~~~County_Name
['Autauga County' 'Baldwin County' 'Barbour County' ... 'St. Croix Island'
 'St. John Island' 'St. Thomas Island']
~~~~~~~~~FIPS_State
[ 1  2  4  5  6  8  9 10 11 12 13 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 51 53
 54 55 56 60 66 69 72 78]
~~~~~~~~~FIPS_County
[  1   3   5   7   9  11  13  15  17  19  21  23  25  27  29  31  33  35
  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71
  73  75  77  79  81  83  85  87  89  91  93  95  97  99 101 103 105 107
 109 111 113 115 117 119 121 123 125 127 129 131 133  16  20  50  60  68
  70  90 100 110 122 130 150 158 164 170 180 185 188 195 198 220 230 240
 261 275 282 290  12 135 137 139 141 143 145 147 149  14  86 151 153 155
 157 159 161 163 165 167 169 171 173 175 177 179 181 183 187 189 191 193
 197 199 201 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233
 235 237 239 241 243 245 247 249 251 253 255 257 259 263 265 267 269 271
 273 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309
 311 313 315 317 319 321 203 510 186   6  28 102 323 325 327 329 331 333
 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369
 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405
 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441
 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477
 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507  36 520 530
 540 550 570 580 590 595 600 610 620 630 640 650 660 670 678 680 683 685
 690 700 710 720 730 735 740 750 760 770 775 790 800 810 820 830 840  78
  10  30  40 120  54]
~~~~~~~~~date
['2020-03-11' '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15'
 '2020-03-16' '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20'
 '2020-03-21' '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25'
 '2020-03-26' '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30'
 '2020-03-31' '2020-04-01' '2020-04-02' '2020-04-03' '2020-04-04'
 '2020-04-05' '2020-04-06' '2020-04-07' '2020-04-08' '2020-04-09'
 '2020-04-10' '2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14'
 '2020-04-15' '2020-04-16' '2020-04-17' '2020-04-18' '2020-04-19'
 '2020-04-20' '2020-04-21' '2020-04-22' '2020-04-23' '2020-04-24'
 '2020-04-25' '2020-04-26' '2020-04-27' '2020-04-28' '2020-04-29'
 '2020-04-30' '2020-05-01' '2020-05-02' '2020-05-03' '2020-05-04'
 '2020-05-05' '2020-05-06' '2020-05-07' '2020-05-08' '2020-05-09'
 '2020-05-10' '2020-05-11' '2020-05-12' '2020-05-13' '2020-05-14'
 '2020-05-15' '2020-05-16' '2020-05-17' '2020-05-18' '2020-05-19'
 '2020-05-20' '2020-05-21' '2020-05-22' '2020-05-23' '2020-05-24'
 '2020-05-25' '2020-05-26' '2020-05-27' '2020-05-28' '2020-05-29'
 '2020-05-30' '2020-05-31' '2020-06-01' '2020-06-02' '2020-06-03'
 '2020-06-04' '2020-06-05' '2020-06-06' '2020-06-07' '2020-06-08'
 '2020-06-09' '2020-06-10' '2020-06-11' '2020-06-12' '2020-06-13'
 '2020-06-14' '2020-06-15' '2020-06-16' '2020-06-17' '2020-06-18'
 '2020-06-19' '2020-06-20' '2020-06-21' '2020-06-22' '2020-06-23'
 '2020-06-24' '2020-06-25' '2020-06-26' '2020-06-27' '2020-06-28'
 '2020-06-29' '2020-06-30' '2020-07-01' '2020-07-02' '2020-07-03'
 '2020-07-04' '2020-07-05' '2020-07-06' '2020-07-07' '2020-07-08'
 '2020-07-09' '2020-07-10' '2020-07-11' '2020-07-12' '2020-07-13'
 '2020-07-14' '2020-07-15' '2020-07-16' '2020-07-17' '2020-07-18'
 '2020-07-19' '2020-07-20' '2020-07-21' '2020-07-22' '2020-07-23'
 '2020-07-24' '2020-07-25' '2020-07-26' '2020-07-27' '2020-07-28'
 '2020-07-29' '2020-07-30' '2020-07-31' '2020-08-01' '2020-08-02'
 '2020-08-03' '2020-08-04' '2020-08-05' '2020-08-06' '2020-08-07'
 '2020-08-08' '2020-08-09' '2020-08-10' '2020-08-11' '2020-08-12'
 '2020-08-13' '2020-08-14' '2020-08-15' '2020-08-16' '2020-08-17'
 '2020-08-18' '2020-08-19' '2020-08-20' '2020-08-21' '2020-08-22'
 '2020-08-23' '2020-08-24' '2020-08-25' '2020-08-26' '2020-08-27'
 '2020-08-28' '2020-08-29' '2020-08-30' '2020-08-31' '2020-09-01'
 '2020-09-02' '2020-09-03' '2020-09-04' '2020-09-05' '2020-09-06'
 '2020-09-07' '2020-09-08' '2020-09-09' '2020-09-10' '2020-09-11'
 '2020-09-12' '2020-09-13' '2020-09-14' '2020-09-15' '2020-09-16'
 '2020-09-17' '2020-09-18' '2020-09-19' '2020-09-20' '2020-09-21'
 '2020-09-22' '2020-09-23' '2020-09-24' '2020-09-25' '2020-09-26'
 '2020-09-27' '2020-09-28' '2020-09-29' '2020-09-30' '2020-10-01'
 '2020-10-02' '2020-10-03' '2020-10-04' '2020-10-05' '2020-10-06'
 '2020-10-07' '2020-10-08' '2020-10-09' '2020-10-10' '2020-10-11'
 '2020-10-12' '2020-10-13' '2020-10-14' '2020-10-15' '2020-10-16'
 '2020-10-17' '2020-10-18' '2020-10-19' '2020-10-20' '2020-10-21'
 '2020-10-22' '2020-10-23' '2020-10-24' '2020-10-25' '2020-10-26'
 '2020-10-27' '2020-10-28' '2020-10-29' '2020-10-30' '2020-10-31'
 '2020-11-01' '2020-11-02' '2020-11-03' '2020-11-04' '2020-11-05'
 '2020-11-06' '2020-11-07' '2020-11-08' '2020-11-09' '2020-11-10'
 '2020-11-11' '2020-11-12' '2020-11-13' '2020-11-14' '2020-11-15'
 '2020-11-16' '2020-11-17' '2020-11-18' '2020-11-19' '2020-11-20'
 '2020-11-21' '2020-11-22' '2020-11-23' '2020-11-24' '2020-11-25'
 '2020-11-26' '2020-11-27' '2020-11-28' '2020-11-29' '2020-11-30'
 '2020-12-01' '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05'
 '2020-12-06' '2020-12-07' '2020-12-08' '2020-12-09' '2020-12-10'
 '2020-12-11' '2020-12-12' '2020-12-13' '2020-12-14' '2020-12-15'
 '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20'
 '2020-12-21' '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25'
 '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-29' '2020-12-30'
 '2020-12-31']
~~~~~~~~~General_GB_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Bans gatherings of any size' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 51-100 people']
~~~~~~~~~General_GB_order_code
[1 6 7 5 2 4 3]
~~~~~~~~~General_or_Under_6ft_Bans_Gatherings_Over
[nan 'No ban' '9' '0' '10' '25' '249' '49' '5' '100' '50' 50.0 10.0 '999'
 0.0 999.0 49.0 25.0 '8' '15' '250' '75' 20.0 '6' '10000' '99' '4' 5.0
 99.0 9.0 4.0 500.0 100.0 '24' 6.0 249.0 24.0 8.0 250.0 15.0 '20' '150']
~~~~~~~~~With_SD_order_group
['No order found' 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 101 or more people' 'Bans gatherings of any size']
~~~~~~~~~With_SD_order_code
[1 6 5 3 4 2 7]
~~~~~~~~~Over_6ft_Bans_Gatherings_Over
[nan 'No ban' '10' '20' '100' '50' '25' '250' '0' 10.0 0.0 '3000' '10000'
 '6' '9' '5']
~~~~~~~~~outdoor_order_group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 26-50 people'
 'Ban of gatherings over 11-25 people']
~~~~~~~~~outdoor_order_code
[1 7 6 3 2 4 5]
~~~~~~~~~General_Or_Under_6ft_Bans_Outdoor_Gatherings_Over
[nan 0.0 '10' 'No ban' '0' '100' '500' '250' '50' '25' 10.0 30.0 50.0
 250.0 150.0 100.0 25.0 6.0 8.0 12.0 15.0 5.0 1000.0]
~~~~~~~~~With_SD_outdoor_order_group
['No order found' 'Ban of gatherings over 11-25 people'
 'Ban of gatherings over 101 or more people'
 'Ban of gatherings over 51-100 people'
 'Ban of gatherings over 1-10 people'
 'Ban of gatherings over 26-50 people']
~~~~~~~~~With_SD_outdoor_order_code
[1 5 2 3 6 4]
~~~~~~~~~Over_6ft_Bans_Outdoor_Gatherings_Over
[nan 20.0 'No ban' '175' '25' '100' '10' '50' '250' 100.0 25.0 250.0 15.0
 '15' '20' 500.0 150.0 'No Ban' '5']
~~~~~~~~~Current_order_status
[nan 'In effect']
~~~~~~~~~Jurisdiction_Type
['State' 'District (state)' 'Territory']
~~~~~~~~~Issuing_Jurisdiction
[nan 'AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'CNMI' 'PR' 'USVI']
~~~~~~~~~Effective_date
[nan '2020-03-19' '2020-03-20' '2020-03-28' '2020-05-11' '2020-12-09'
 '2020-03-17' '2020-03-24' '2020-04-24' '2020-05-22' '2020-03-21'
 '2020-06-29' '2020-07-23' '2020-12-03' '2020-03-26' '2020-03-27'
 '2020-04-06' '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03'
 '2020-03-16' '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-18'
 '2020-11-25' '2020-11-29' '2020-12-02' '2020-12-16' '2020-12-17'
 '2020-12-11' '2020-12-06' '2020-12-23' '2020-12-30' '2020-04-02'
 '2020-04-10' '2020-04-27' '2020-05-08' '2020-05-14' '2020-05-26'
 '2020-06-01' '2020-06-18' '2020-06-30' '2020-07-30' '2020-08-21'
 '2020-09-20' '2020-09-22' '2020-09-28' '2020-09-29' '2020-10-02'
 '2020-10-05' '2020-10-08' '2020-10-17' '2020-10-24' '2020-10-29'
 '2020-10-31' '2020-11-02' '2020-11-07' '2020-11-11' '2020-11-20'
 '2020-11-23' '2020-12-01' '2020-12-05' '2020-12-07' '2020-12-10'
 '2020-12-15' '2020-12-29' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03' '2020-11-06'
 '2020-06-19' '2020-07-24' '2020-08-26' '2020-09-01' '2020-09-04'
 '2020-12-14' '2020-04-15' '2020-05-16' '2020-06-22' '2020-07-22'
 '2020-10-07' '2020-03-25' '2020-06-05' '2020-06-20' '2020-07-07'
 '2020-07-20' '2020-08-05' '2020-09-25' '2020-11-24' '2020-04-03'
 '2020-04-08' '2020-04-20' '2020-05-01' '2020-05-28' '2020-07-01'
 '2020-07-16' '2020-08-01' '2020-08-16' '2020-09-16' '2020-10-01'
 '2020-10-16' '2020-11-01' '2020-04-26' '2020-05-05' '2020-06-26'
 '2020-07-21' '2020-10-21' '2020-08-03' '2020-08-08' '2020-08-20'
 '2020-08-27' '2020-09-10' '2020-09-24' '2020-10-22' '2020-06-10'
 '2020-07-17' '2020-05-03' '2020-05-09' '2020-08-11' '2020-10-23'
 '2020-04-30' '2020-07-06' '2020-07-31' '2020-08-06' '2020-10-06'
 '2020-10-15' '2020-10-27' '2020-11-12' '2020-12-12' '2020-11-14'
 '2020-03-13' '2020-03-18' '2020-04-01' '2020-09-18' '2020-08-18'
 '2020-09-02' '2020-10-28' '2020-10-03' '2020-10-25' '2020-11-04'
 '2020-06-12' '2020-09-26' '2020-10-18' '2020-11-15' '2020-12-13'
 '2020-12-21' '2020-12-28' '2020-05-21' '2020-05-13' '2020-06-25'
 '2020-11-17' '2020-04-16' '2020-04-18' '2020-03-23' '2020-05-15'
 '2020-07-13' '2020-08-07' '2020-08-28' '2020-09-11' '2020-04-07'
 '2020-04-29' '2020-10-13' '2020-03-30' '2020-05-06' '2020-05-27'
 '2020-06-03' '2020-03-31' '2020-04-28' '2020-06-08' '2020-12-26'
 '2020-04-09' '2020-05-07' '2020-05-31' '2020-06-09' '2020-12-18'
 '2020-04-17' '2020-07-02' '2020-08-17' '2020-08-31' '2020-09-14'
 '2020-09-30' '2020-05-12' '2020-04-22' '2020-09-21' '2020-11-16'
 '2020-12-24' '2020-03-29' '2020-11-05' '2020-04-04' '2020-08-04'
 '2020-04-11' '2020-08-29' '2020-11-30' '2020-06-13' '2020-06-23'
 '2020-06-24' '2020-07-09' '2020-10-14' '2020-11-09' '2020-11-19'
 '2020-03-14' '2020-04-23' '2020-04-13' '2020-05-30' '2020-07-10'
 '2020-05-23' '2020-06-06' '2020-07-14' '2020-07-15' '2020-09-19'
 '2020-03-22' '2020-07-29' '2020-10-30' '2020-08-10' '2020-08-25'
 '2020-09-09' '2020-11-08' '2020-12-08' '2020-12-20' '2020-07-27'
 '2020-08-14' '2020-09-23' '2020-11-10' '2020-03-15' '2020-09-03'
 '2020-06-11' '2020-07-04' '2020-03-11' '2020-10-10' '2020-11-21'
 '2020-11-27' '2020-11-28' '2020-12-19' '2020-12-27' '2020-10-19'
 '2020-04-05' '2020-05-10' '2020-08-24' '2020-09-07' '2020-08-02'
 '2020-08-09' '2020-08-15' '2020-08-22' '2020-08-23' '2020-08-30'
 '2020-09-06' '2020-08-13']
~~~~~~~~~Expiration_date
[nan '2020-05-15' '2020-12-11' '2021-01-22' '2020-04-18' '2020-04-11'
 '2020-04-26' '2020-05-26' '2020-06-01' '2020-07-01' '2020-07-30'
 '2020-08-20' '2020-09-20' '2020-10-19' '2020-11-05' '2020-11-29'
 '2020-12-20' '2021-01-06' '2020-10-05' '2020-11-04' '2020-04-30'
 '2020-05-20' '2020-06-20' '2020-07-03' '2020-05-31' '2020-06-15'
 '2020-03-31' '2020-04-24' '2020-06-08' '2020-07-24' '2020-10-09'
 '2020-12-31' '2020-04-06' '2020-04-13' '2020-05-13' '2020-06-28'
 '2020-06-30' '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31'
 '2020-09-15' '2020-09-30' '2020-10-15' '2020-10-31' '2020-11-15'
 '2020-11-30' '2020-12-15' '2021-02-14' '2020-06-05' '2020-09-04'
 '2020-09-16' '2020-09-09' '2020-09-23' '2020-08-27' '2020-08-29'
 '2020-10-29' '2020-04-15' '2020-09-19' '2020-10-17' '2020-11-14'
 '2020-12-12' '2021-01-09' '2020-04-20' '2020-05-01' '2020-05-04'
 '2020-05-23' '2020-06-13' '2020-07-17' '2020-09-25' '2021-01-03'
 '2020-05-11' '2020-05-18' '2020-05-27' '2020-06-17' '2020-06-25'
 '2020-07-25' '2020-08-23' '2020-10-18' '2020-12-10' '2020-12-16'
 '2021-01-08' '2020-12-13' '2020-08-07' '2020-08-28' '2020-09-11'
 '2020-11-06' '2020-12-04' '2020-12-23' '2021-01-13' '2020-04-08'
 '2020-04-05' '2020-04-07' '2020-05-19' '2021-01-10' '2020-05-28'
 '2020-06-12' '2020-10-30' '2020-12-08' '2021-01-15' '2020-12-18'
 '2020-04-14' '2020-04-27' '2020-05-25' '2020-06-29' '2020-07-06'
 '2020-07-20' '2020-08-03' '2020-08-17' '2020-09-14' '2020-11-11'
 '2020-05-03' '2020-04-10' '2020-09-13' '2021-01-31' '2020-05-10'
 '2020-05-06' '2020-04-16' '2020-05-30' '2020-09-01' '2020-10-01'
 '2020-09-18' '2020-10-02' '2020-10-16' '2020-11-13' '2020-11-16'
 '2020-12-02' '2020-12-30' '2021-01-29' '2020-04-22' '2020-04-29'
 '2020-06-06' '2020-06-21' '2020-07-13' '2020-07-26' '2020-08-12'
 '2021-01-01' '2020-05-08' '2020-05-22' '2020-06-26' '2020-10-23'
 '2020-05-29' '2020-04-28' '2020-05-02' '2020-05-16' '2020-05-24'
 '2020-06-11' '2020-07-12' '2020-08-09' '2020-09-27' '2020-10-25'
 '2020-11-23' '2020-12-17' '2020-06-04' '2021-01-04' '2020-03-30'
 '2020-07-29' '2020-09-28' '2020-10-28' '2020-11-27' '2020-11-22'
 '2021-01-19' '2020-10-24' '2020-11-08' '2020-12-29' '2020-04-01'
 '2020-07-10' '2020-11-12' '2021-01-21' '2020-06-10' '2020-09-10'
 '2020-12-14' '2021-01-11' '2020-04-03' '2020-04-17' '2020-05-05'
 '2020-06-14' '2020-09-06' '2020-04-12' '2020-08-08' '2020-08-10'
 '2020-08-21' '2020-08-24' '2020-09-05' '2020-09-07' '2020-12-19'
 '2020-12-21' '2020-12-26' '2020-12-28' '2021-01-02']
~~~~~~~~~Effective_NA_Reason
[nan]
~~~~~~~~~Expiration_NA_Reason
[nan 'Until rescinded' 'Duration of emergency' 'Not listed'
 'Upon further order' 'Undetermined' 'Indefinite' 'Until Rescineded']
~~~~~~~~~General_Household_Order_Group
['No order found' 'Bans gatherings of any size'
 'Ban of gatherings over 1-10 households']
~~~~~~~~~General_Household_order_code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Generally
[nan  0.  3.]
~~~~~~~~~Outdoor_Household_Order_Group
['No order found' 'Ban of gatherings over 1-10 households']
~~~~~~~~~Outdoor_Household_Order_Code
[1 7 6]
~~~~~~~~~Bans_Households_Not_Individuals_Outdoor_Only
[nan  3.]
~~~~~~~~~Date_Signed
[nan '2020-03-19' '2020-03-20' '2020-04-28' '2020-11-05' '2020-12-09'
 '2020-03-17' '2020-03-23' '2020-04-21' '2020-04-24' '2020-05-19'
 '2020-06-29' '2020-07-23' '2020-12-02' '2020-03-26' '2020-04-04'
 '2020-05-04' '2020-05-18' '2020-06-15' '2020-11-03' '2020-03-16'
 '2020-09-12' '2020-10-09' '2020-11-13' '2020-11-17' '2020-11-24'
 '2020-11-28' '2020-12-01' '2020-12-08' '2020-12-15' '2020-12-16'
 '2020-12-10' '2020-12-05' '2020-12-22' '2020-12-29' '2020-03-18'
 '2020-03-27' '2020-04-01' '2020-04-09' '2020-04-26' '2020-05-08'
 '2020-05-14' '2020-05-26' '2020-06-05' '2020-06-18' '2020-06-30'
 '2020-07-30' '2020-08-21' '2020-09-20' '2020-09-22' '2020-09-28'
 '2020-09-29' '2020-10-02' '2020-10-05' '2020-10-08' '2020-10-17'
 '2020-10-24' '2020-10-29' '2020-10-31' '2020-11-02' '2020-11-07'
 '2020-11-11' '2020-11-18' '2020-11-20' '2020-11-23' '2020-11-25'
 '2020-12-03' '2020-12-07' '2020-09-08' '2020-09-15' '2020-03-12'
 '2020-04-10' '2020-05-29' '2020-06-16' '2020-06-17' '2020-07-03'
 '2020-11-06' '2020-05-31' '2020-06-14' '2020-06-19' '2020-07-24'
 '2020-08-26' '2020-09-01' '2020-09-03' '2020-09-25' '2020-03-24'
 '2020-04-15' '2020-05-13' '2020-05-27' '2020-07-22' '2020-10-07'
 '2020-03-25' '2020-04-29' '2020-05-09' '2020-06-03' '2020-06-20'
 '2020-07-07' '2020-07-20' '2020-08-05' '2020-04-02' '2020-04-08'
 '2020-04-20' '2020-04-23' '2020-05-12' '2020-05-28' '2020-06-11'
 '2020-07-15' '2020-07-31' '2020-08-15' '2020-08-31' '2020-09-30'
 '2020-10-15' '2020-10-30' '2020-11-30' '2020-04-25' '2020-05-05'
 '2020-06-10' '2020-06-26' '2020-10-18' '2020-12-17' '2020-08-03'
 '2020-08-06' '2020-08-19' '2020-08-25' '2020-09-23' '2020-10-20'
 '2020-07-17' '2020-08-20' '2020-05-03' '2020-08-11' '2020-10-23'
 '2020-04-27' '2020-05-07' '2020-06-09' '2020-07-08' '2020-08-07'
 '2020-08-28' '2020-10-01' '2020-10-14' '2020-10-26' '2020-11-10'
 '2020-12-24' '2020-04-30' '2020-12-30' '2020-03-13' '2020-09-18'
 '2020-10-16' '2020-12-11' '2020-10-21' '2020-08-18' '2020-09-02'
 '2020-10-27' '2020-04-06' '2020-05-01' '2020-05-21' '2020-07-01'
 '2020-07-16' '2020-09-24' '2020-12-06' '2020-12-14' '2020-12-21'
 '2020-12-28' '2020-06-25' '2020-11-16' '2020-04-16' '2020-04-07'
 '2020-04-17' '2020-05-20' '2020-03-22' '2020-07-11' '2020-09-11'
 '2020-03-31' '2020-08-01' '2020-10-06' '2020-11-04' '2020-03-30'
 '2020-05-06' '2020-03-15' '2020-05-15' '2020-06-06' '2020-07-02'
 '2020-05-22' '2020-06-01' '2020-07-29' '2020-11-15' '2020-12-18'
 '2020-07-19' '2020-08-14' '2020-09-13' '2020-10-19' '2020-07-10'
 '2020-03-21' '2020-04-03' '2020-04-22' '2020-05-11' '2020-07-28'
 '2020-08-10' '2020-11-09' '2020-03-29' '2020-12-13' '2020-11-14'
 '2020-06-22' '2020-04-11' '2020-06-12' '2020-07-13' '2020-10-22'
 '2020-06-13' '2020-06-23' '2020-06-24' '2020-07-06' '2020-07-09'
 '2020-07-21' '2020-10-28' '2020-11-19' '2020-03-14' '2020-09-04'
 '2020-04-13' '2020-05-30' '2020-05-23' '2020-06-08' '2020-07-14'
 '2020-08-13' '2020-08-17' '2020-09-19' '2020-03-28' '2020-06-04'
 '2020-08-02' '2020-09-09' '2020-11-08' '2020-12-23' '2020-08-29'
 '2020-12-20' '2020-09-17' '2020-07-27' '2020-08-08' '2020-11-12'
 '2020-06-02' '2020-09-10' '2020-10-13' '2020-03-11' '2020-09-26'
 '2020-10-03' '2020-10-10' '2020-11-21' '2020-11-27' '2020-11-29'
 '2020-12-12' '2020-12-19' '2020-12-27' '2020-08-12' '2020-11-01'
 '2020-04-05' '2020-08-27' '2020-05-25' '2020-09-07' '2020-04-12']
~~~~~~~~~Express_Preemption
[nan 'Expressly Preempts w/ Process for Approval' 'Expressly Preempts'
 'Expressly Preempts Less Restrictive Measures' 'Unknown'
 'Expressly Does Not Preempt' 'Expressly Does Not Preempt Generally']
~~~~~~~~~origin_dataset
[nan 'state.terr']
~~~~~~~~~Indoor_Outdoor
[nan 'Outdoor only' 'Indoor only' 'Indoor/Outdoor' 'indoor only' 'Outdoor'
 'Indoor']
~~~~~~~~~Source_of_Action
[nan 'Official' 'News' 'Offcial' 'Official�' 'Oficial' '�' 'Press Release'
 'official' 'Official Announcement' 'News Media']

In [190]:
#drop US territories and DC
bans_us = bans.copy()
bans_us = bans_us[~bans_us['State_Tribe_Territory'].isin(['AS','GU','MP','PR','VI','DC'])]
bans_us.rename(columns={'State_Tribe_Territory':'State'},inplace=True)
bans_us['State'].unique()

In [231]:
## General Ban Groupings
## Proportion of Counties with ban type k; ban type proportions

bans_us.groupby(["State", "General_GB_order_group"]).count()
pd.set_option('display.max_rows',
bans_us[bans_us["State"]=="AK"].groupby(["General_GB_order_code", "date"]).count()

SyntaxError: unexpected EOF while parsing (<ipython-input-231-0269048b5e70>, line 6)

In [218]:
## Bans of Gatherings > x
# convert to int for calculations
bans_us.loc[bans_us["General_or_Under_6ft_Bans_Gatherings_Over"].isna(),"General_or_Under_6ft_Bans_Gatherings_Over"] = 0

bans_us.loc[bans_us["General_or_Under_6ft_Bans_Gatherings_Over"] == "No ban","General_or_Under_6ft_Bans_Gatherings_Over"] = 0

bans_us["General_or_Under_6ft_Bans_Gatherings_Over"] = bans_us["General_or_Under_6ft_Bans_Gatherings_Over"].astype(int) 

avg_ban_over = bans_us[bans_us["General_or_Under_6ft_Bans_Gatherings_Over"] != 0].groupby("State").mean("General_or_Under_6ft_Bans_Gatherings_Over")

avg_ban_over["General_or_Under_6ft_Bans_Gatherings_Over"].to_frame() # State has bans for gatherings of, on average across counties and time, more than {x}.

       General_or_Under_6ft_Bans_Gatherings_Over
State
AL                                      9.000000
AR                                     10.000000
CO                                     10.966081
CT                                     30.918644
DE                                     16.472527
FL                                     10.000000
GA                                     38.127208
HI                                      9.455446
IA                                     11.023141
IL                                     50.719693
IN                                     10.000000
KS                                     14.917241
KY                                     13.873171
LA                                    125.960317
MA                                     20.629139
MD                                     19.438202
ME                                     43.425606
MI                                     29.529412
MN                                     10.000000
MO                                     10.000000
MS                                     14.842222
MT                                     12.490119
NC                                     18.498294
NE                                    973.919648
NH                                      9.000000
NJ                                     12.985075
NM                                      6.429241
NV                                     42.717105
NY                                     51.632121
OH                                     12.318644
OK                                     10.000000
OR                                     39.536111
PA                                     63.996674
RI                                     12.975207
SC                                    250.000000
TN                                      9.166667
TX                                     10.000000
UT                                     40.603865
VA                                    128.754506
VT                                     25.300000
WA                                     15.959792
WI                                     10.000000
WV                                     30.691616
WY                                     35.222997

In [118]:
#Decide on what columns to keep

#Separate the different order types into different data frames

#Get General ban orders into a dataframe
GB_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_GB_order_group',
    'General_GB_order_code',
    'Current_order_status'
]

bans_us_GB = bans_us.copy()
bans_us_GB = bans_us_GB[GB_cols]

#Remove observations of 'No ban'
bans_us_GB = bans_us_GB[bans_us_GB['General_GB_order_code']!=1]

#Add order type to the df
bans_us_GB.insert(5,'Order_type','General_GB')

bans_us_GB.rename(columns={'General_GB_order_group':'Order_group','General_GB_order_code':'Order_code'},inplace=True)
bans_us_GB.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
18,AL,Autauga County,2020-03-29,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
19,AL,Autauga County,2020-03-30,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
20,AL,Autauga County,2020-03-31,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
21,AL,Autauga County,2020-04-01,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect

In [91]:
#Get outdoor ban orders into a dataframe
Outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'outdoor_order_group',
    'outdoor_order_code',
    'Current_order_status'
]

bans_us_Outdoor = bans_us.copy()
bans_us_Outdoor = bans_us_Outdoor[Outdoor_cols]

#Remove observations of 'No ban'
bans_us_Outdoor = bans_us_Outdoor[bans_us_Outdoor['outdoor_order_code']!=1]

#Add order type to the df
bans_us_Outdoor.insert(5,'Order_type','Outdoor')

bans_us_Outdoor.rename(columns={'outdoor_order_group':'Order_group','outdoor_order_code':'Order_code'},inplace=True)
bans_us_Outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
19876,AK,Aleutians East Borough,2020-04-24,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19877,AK,Aleutians East Borough,2020-04-25,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19878,AK,Aleutians East Borough,2020-04-26,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19879,AK,Aleutians East Borough,2020-04-27,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect
19880,AK,Aleutians East Borough,2020-04-28,2020-04-24,NaN,Outdoor,Bans gatherings of any size,7,In effect

In [92]:
#Get Outdoor ban orders with Social Distancing into a dataframe
SD_outdoor_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'With_SD_outdoor_order_group',
    'With_SD_outdoor_order_code',
    'Current_order_status'
]

bans_us_SD_outdoor = bans_us.copy()
bans_us_SD_outdoor = bans_us_SD_outdoor[SD_outdoor_cols]

#Remove observations of 'No ban'
#bans_us_SD_outdoor = bans_us_SD_outdoor[bans_us_SD_outdoor['With_SD_outdoor_order_code']!=1]

#Add order type to the df
bans_us_SD_outdoor.insert(5,'Order_type','With_SD_outdoor')

bans_us_SD_outdoor.rename(columns={'With_SD_outdoor_order_group':'Order_group','With_SD_outdoor_order_code':'Order_code'},inplace=True)
bans_us_SD_outdoor.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
0,AL,Autauga County,2020-03-11,NaN,NaN,With_SD_outdoor,No order found,1,NaN
1,AL,Autauga County,2020-03-12,NaN,NaN,With_SD_outdoor,No order found,1,NaN
2,AL,Autauga County,2020-03-13,NaN,NaN,With_SD_outdoor,No order found,1,NaN
3,AL,Autauga County,2020-03-14,NaN,NaN,With_SD_outdoor,No order found,1,NaN
4,AL,Autauga County,2020-03-15,NaN,NaN,With_SD_outdoor,No order found,1,NaN

In [93]:
HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'General_Household_Order_Group',
    'General_Household_order_code',
    'Current_order_status'
]

bans_us_HH = bans_us.copy()
bans_us_HH = bans_us_HH[HH_cols]
bans_us_HH = bans_us_HH[bans_us_HH['General_Household_order_code']!=1]
bans_us_HH.insert(5,'Order_type','General_household')
bans_us_HH.rename(columns={'General_Household_Order_Group':'Order_group','General_Household_order_code':'Order_code'},inplace=True)
bans_us_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,General_household,Bans gatherings of any size,7,In effect

In [94]:
Outdoor_HH_cols = [
    'State',
    'County_Name',
    'date',
    'Effective_date',
    'Expiration_date',
    'Outdoor_Household_Order_Group',
    'Outdoor_Household_Order_Code',
    'Current_order_status'
]

bans_us_outdoor_HH = bans_us.copy()
bans_us_outdoor_HH = bans_us_outdoor_HH[Outdoor_HH_cols]
bans_us_outdoor_HH = bans_us_outdoor_HH[bans_us_outdoor_HH['Outdoor_Household_Order_Code']!=1]
bans_us_outdoor_HH.insert(5,'Order_type','Outdoor_household')
bans_us_outdoor_HH.rename(columns={'Outdoor_Household_Order_Group':'Order_group','Outdoor_Household_Order_Code':'Order_code'},inplace=True)
bans_us_outdoor_HH.head()

,State,County_Name,date,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
55268,CA,Alameda County,2020-10-09,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55269,CA,Alameda County,2020-10-10,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55270,CA,Alameda County,2020-10-11,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55271,CA,Alameda County,2020-10-12,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect
55272,CA,Alameda County,2020-10-13,2020-10-09,NaN,Outdoor_household,Ban of gatherings over 1-10 households,7,In effect

In [95]:
order_frames = [bans_us_GB,bans_us_Outdoor,bans_us_SD_outdoor,bans_us_HH,bans_us_outdoor_HH]

#Get the number of bans observed for each ban type
for frame in order_frames:
    print(frame.shape)

(642428, 9)
(130655, 9)
(930032, 9)
(3836, 9)
(3836, 9)

In [96]:
#Merge the dataframes to record the states, counties, and dates of all order types
ban_orders = pd.concat(order_frames)
ban_orders.head()
print(set(ban_orders_unique["Order_type"]))

{'Outdoor_household', 'General_household', 'With_SD_outdoor', 'General_GB', 'Outdoor'}

In [97]:
#Get the number of ban order rows observed
print(ban_orders.shape)

(1710787, 9)

In [98]:
#Create dataframe that isn't tied to the 'date' column
#This changes level of data from 'date' to 'county_name'
ban_orders_unique = ban_orders.copy()
ban_orders_unique.drop(columns=['date'],inplace=True)
ban_orders_unique.drop_duplicates(inplace=True)
ban_orders_unique.head()

,State,County_Name,Effective_date,Expiration_date,Order_type,Order_group,Order_code,Current_order_status
17,AL,Autauga County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
61,AL,Autauga County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect
273,AL,Autauga County,2020-12-09,2021-01-22,General_GB,Bans gatherings of any size,7,In effect
313,AL,Baldwin County,2020-03-28,2020-05-15,General_GB,Ban of gatherings over 1-10 people,6,In effect
357,AL,Baldwin County,2020-05-11,2020-12-11,General_GB,Bans gatherings of any size,7,In effect

In [99]:
#Check that the number unique ban order rows are less than the number of ban order rows observed
ban_orders_unique.shape

(88767, 8)

In [100]:
#Check what states are included in the unique bans dataset
print(ban_orders_unique['State'].unique())

['AL' 'AK' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'TN' 'TX' 'UT'
 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'AZ' 'ND' 'SD']

Comparing the unique list of states before and after data wrangling, 'AZ', 'ND', and 'SD' and missing from the data after wrangling. This suggests that the two states were filtered out due to all their order codes being equal to 1, implying that the date of their gathering bans was either not recorded or not observed.

In [101]:
#Get counts of unique county bans observed for each state
ban_order_states = ban_orders_unique.groupby(['State'])['County_Name'].count().to_frame()
ban_order_states

       County_Name
State
AK             265
AL             608
AR            1125
AZ              60
CA            1725
CO            5115
CT             224
DC              22
DE              69
FL            1005
GA            6519
HI             152
IA            3196
ID             572
IL            3464
IN            3778
KS            1785
KY            1440
LA            2496
MA             504
MD             480
ME             384
MI            4412
MN            1305
MO             805
MS            4770
MT             616
NC            3900
ND              53
NE            3487
NH             140
NJ             609
NM            1863
NV             360
NY            5032
OH            1496
OK            2387
OR            2389
PA            1545
RI             230
SC            1242
SD              66
TN            1520
TX            1778
UT            1731
VA            3633
VT             434
WA            2661
WI            1296
WV            2915
WY            1104

In [102]:
count_counties_with_bans = bans_us.groupby(["County_Name", "State"]).count().groupby("State").count()
count_counties_with_bans = count_counties_with_bans.iloc[:,1].to_frame()
count_counties_with_bans.rename(columns={"FIPS_County": "Count"})

       Count
State
AK        29
AL        67
AR        75
AZ        15
CA        58
CO        64
CT         8
DC         1
DE         3
FL        67
GA       159
HI         5
IA        99
ID        44
IL       102
IN        92
KS       105
KY       120
LA        64
MA        14
MD        24
ME        16
MI        83
MN        87
MO       115
MS        82
MT        56
NC       100
ND        53
NE        93
NH        10
NJ        21
NM        33
NV        17
NY        62
OH        88
OK        77
OR        36
PA        67
RI         5
SC        46
SD        66
TN        95
TX       254
UT        29
VA       133
VT        14
WA        39
WI        72
WV        55
WY        23

In [103]:
#Use example state to see if any ban rows are out of the ordinary
pd.set_option('display.max_rows', ban_orders_unique[(ban_orders_unique['State']=='HI')].shape[0]+1)
print(ban_orders_unique[(ban_orders_unique['State']=='HI')])

 Maui County     2020-10-06      2020-10-29       General_GB
163018    HI      Maui County     2020-10-15             NaN       General_GB
163030    HI      Maui County     2020-10-27             NaN       General_GB
163046    HI      Maui County     2020-11-12             NaN       General_GB
163071    HI      Maui County     2020-12-07             NaN       General_GB
163076    HI      Maui County     2020-12-12             NaN       General_GB
163093    HI      Maui County     2020-12-29             NaN       General_GB
161712    HI    Hawaii County     2020-06-15      2020-07-31          Outdoor
161723    HI    Hawaii County     2020-06-26      2020-07-31          Outdoor
161748    HI    Hawaii County     2020-07-21      2020-08-31          Outdoor
161990    HI  Honolulu County     2020-05-28      2020-06-05          Outdoor
161998    HI  Honolulu County     2020-06-05      2020-06-30          Outdoor
162023    HI  Honolulu County     2020-06-30      2020-07-31          Outdoor
162053    HI  Honolulu County     2020-07-30      2020-08-31          Outdoor
162057    HI  Honolulu County     2020-08-03      2020-08-31          Outdoor
162062    HI  Honolulu County     2020-08-08      2020-09-04          Outdoor
162602    HI     Kauai County     2020-06-17             NaN          Outdoor
162638    HI     Kauai County     2020-07-23             NaN          Outdoor
162657    HI     Kauai County     2020-08-11             NaN          Outdoor
162730    HI     Kauai County     2020-10-23             NaN          Outdoor
162896    HI      Maui County     2020-06-15      2020-06-30          Outdoor
162911    HI      Maui County     2020-06-30      2020-08-27          Outdoor
162917    HI      Maui County     2020-07-06      2020-08-27          Outdoor
162934    HI      Maui County     2020-07-23      2020-08-27          Outdoor
161616    HI    Hawaii County            NaN             NaN  With_SD_outdoor
161630    HI    Hawaii County     2020-03-25             NaN  With_SD_outdoor
161662    HI    Hawaii County     2020-04-26      2020-05-31  With_SD_outdoor
161671    HI    Hawaii County     2020-05-05             NaN  With_SD_outdoor
161684    HI    Hawaii County     2020-05-18             NaN  With_SD_outdoor
161712    HI    Hawaii County     2020-06-15      2020-07-31  With_SD_outdoor
161723    HI    Hawaii County     2020-06-26      2020-07-31  With_SD_outdoor
161748    HI    Hawaii County     2020-07-21      2020-08-31  With_SD_outdoor
161779    HI    Hawaii County     2020-08-21      2020-09-30  With_SD_outdoor
161817    HI    Hawaii County     2020-09-28      2020-10-31  With_SD_outdoor
161840    HI    Hawaii County     2020-10-21      2020-11-30  With_SD_outdoor
161875    HI    Hawaii County     2020-11-25      2020-12-31  With_SD_outdoor
161897    HI    Hawaii County     2020-12-17      2021-02-14  With_SD_outdoor
161912    HI  Honolulu County            NaN             NaN  With_SD_outdoor
161926    HI  Honolulu County     2020-03-25             NaN  With_SD_outdoor
161958    HI  Honolulu County     2020-04-26      2020-05-31  With_SD_outdoor
161967    HI  Honolulu County     2020-05-05             NaN  With_SD_outdoor
161980    HI  Honolulu County     2020-05-18             NaN  With_SD_outdoor
161990    HI  Honolulu County     2020-05-28      2020-06-05  With_SD_outdoor
161998    HI  Honolulu County     2020-06-05      2020-06-30  With_SD_outdoor
162023    HI  Honolulu County     2020-06-30      2020-07-31  With_SD_outdoor
162053    HI  Honolulu County     2020-07-30      2020-08-31  With_SD_outdoor
162057    HI  Honolulu County     2020-08-03      2020-08-31  With_SD_outdoor
162062    HI  Honolulu County     2020-08-08      2020-09-04  With_SD_outdoor
162074    HI  Honolulu County     2020-08-20      2020-09-16  With_SD_outdoor
162081    HI  Honolulu County     2020-08-27      2020-09-09  With_SD_outdoor
162095    HI  Honolulu County     2020-09-10      2020-09-23  With_SD_outdoor
162109    HI  Honolulu County     2020-09-24      2020-10-31  With_SD_outdoor
162137    HI  Honolulu County     2020-10-22      2020-11-30  With_SD_outdoor
162166    HI  Honolulu County     2020-11-20      2020-12-31  With_SD_outdoor
162205    HI  Honolulu County     2020-12-29      2021-02-14  With_SD_outdoor
162208    HI   Kalawao County            NaN             NaN  With_SD_outdoor
162222    HI   Kalawao County     2020-03-25             NaN  With_SD_outdoor
162254    HI   Kalawao County     2020-04-26      2020-05-31  With_SD_outdoor
162263    HI   Kalawao County     2020-05-05             NaN  With_SD_outdoor
162276    HI   Kalawao County     2020-05-18             NaN  With_SD_outdoor
162299    HI   Kalawao County     2020-06-10             NaN  With_SD_outdoor
162336    HI   Kalawao County     2020-07-17             NaN  With_SD_outdoor
162370    HI   Kalawao County     2020-08-20             NaN  With_SD_outdoor
162403    HI   Kalawao County     2020-09-22             NaN  With_SD_outdoor
162504    HI     Kauai County            NaN             NaN  With_SD_outdoor
162518    HI     Kauai County     2020-03-25             NaN  With_SD_outdoor
162550    HI     Kauai County     2020-04-26      2020-05-31  With_SD_outdoor
162557    HI     Kauai County     2020-05-03      2020-05-31  With_SD_outdoor
162559    HI     Kauai County     2020-05-05             NaN  With_SD_outdoor
162563    HI     Kauai County     2020-05-09      2020-05-31  With_SD_outdoor
162572    HI     Kauai County     2020-05-18             NaN  With_SD_outdoor
162602    HI     Kauai County     2020-06-17             NaN  With_SD_outdoor
162638    HI     Kauai County     2020-07-23             NaN  With_SD_outdoor
162657    HI     Kauai County     2020-08-11             NaN  With_SD_outdoor
162730    HI     Kauai County     2020-10-23             NaN  With_SD_outdoor
162800    HI      Maui County            NaN             NaN  With_SD_outdoor
162814    HI      Maui County     2020-03-25             NaN  With_SD_outdoor
162846    HI      Maui County     2020-04-26      2020-05-31  With_SD_outdoor
162850    HI      Maui County     2020-04-30      2020-05-31  With_SD_outdoor
162861    HI      Maui County     2020-05-11      2020-05-31  With_SD_outdoor
162868    HI      Maui County     2020-05-18             NaN  With_SD_outdoor
162879    HI      Maui County     2020-05-29      2020-06-30  With_SD_outdoor
162896    HI      Maui County     2020-06-15      2020-06-30  With_SD_outdoor
162911    HI      Maui County     2020-06-30      2020-08-27  With_SD_outdoor
162917    HI      Maui County     2020-07-06      2020-08-27  With_SD_outdoor
162934    HI      Maui County     2020-07-23      2020-08-27  With_SD_outdoor
162942    HI      Maui County     2020-07-31      2020-08-29  With_SD_outdoor
162948    HI      Maui County     2020-08-06      2020-08-29  With_SD_outdoor
162969    HI      Maui County     2020-08-27      2020-10-29  With_SD_outdoor
163009    HI      Maui County     2020-10-06      2020-10-29  With_SD_outdoor
163018    HI      Maui County     2020-10-15             NaN  With_SD_outdoor
163030    HI      Maui County     2020-10-27             NaN  With_SD_outdoor
163046    HI      Maui County     2020-11-12             NaN  With_SD_outdoor
163071    HI      Maui County     2020-12-07             NaN  With_SD_outdoor
163076    HI      Maui County     2020-12-12             NaN  With_SD_outdoor
163093    HI      Maui County     2020-12-29             NaN  With_SD_outdoor

                                 Order_group  Order_code Current_order_status
161630    Ban of gatherings over 1-10 people           6            In effect
161662    Ban of gatherings over 1-10 people           6            In effect
161671    Ban of gatherings over 1-10 people           6            In effect
161684    Ban of gatherings over 1-10 people           6            In effect
161712    Ban of gatherings over 1-10 people           6            In effect
161723    Ban of gatherings over 1-10 people           6            In effect
161748           Bans gatherings of any size           7            In effect
161779    Ban of gatherings over 1-10 people           6            In effect
161817    Ban of gatherings over 1-10 people           6            In effect
161840    Ban of gatherings over 1-10 people           6            In effect
161875    Ban of gatherings over 1-10 people           6            In effect
161897    Ban of gatherings over 1-10 people           6            In effect
161926    Ban of gatherings over 1-10 people           6            In effect
161958    Ban of gatherings over 1-10 people           6            In effect
161967    Ban of gatherings over 1-10 people           6            In effect
161980    Ban of gatherings over 1-10 people           6            In effect
161990    Ban of gatherings over 1-10 people           6            In effect
161998    Ban of gatherings over 1-10 people           6            In effect
162023    Ban of gatherings over 1-10 people           6            In effect
162053           Bans gatherings of any size           7            In effect
162057           Bans gatherings of any size           7            In effect
162062           Bans gatherings of any size           7            In effect
162074           Bans gatherings of any size           7            In effect
162081           Bans gatherings of any size           7            In effect
162095           Bans gatherings of any size           7            In effect
162109    Ban of gatherings over 1-10 people           6            In effect
162137    Ban of gatherings over 1-10 people           6            In effect
162166    Ban of gatherings over 1-10 people           6            In effect
162205    Ban of gatherings over 1-10 people           6            In effect
162222    Ban of gatherings over 1-10 people           6            In effect
162254    Ban of gatherings over 1-10 people           6            In effect
162263    Ban of gatherings over 1-10 people           6            In effect
162276    Ban of gatherings over 1-10 people           6            In effect
162518    Ban of gatherings over 1-10 people           6            In effect
162550    Ban of gatherings over 1-10 people           6            In effect
162557    Ban of gatherings over 1-10 people           6            In effect
162559    Ban of gatherings over 1-10 people           6            In effect
162563    Ban of gatherings over 1-10 people           6            In effect
162572    Ban of gatherings over 1-10 people           6            In effect
162602           Bans gatherings of any size           7            In effect
162638           Bans gatherings of any size           7            In effect
162657           Bans gatherings of any size           7            In effect
162730           Bans gatherings of any size           7            In effect
162814    Ban of gatherings over 1-10 people           6            In effect
162846    Ban of gatherings over 1-10 people           6            In effect
162850           Bans gatherings of any size           7            In effect
162861    Ban of gatherings over 1-10 people           6            In effect
162868    Ban of gatherings over 1-10 people           6            In effect
162879    Ban of gatherings over 1-10 people           6            In effect
162896    Ban of gatherings over 1-10 people           6            In effect
162911    Ban of gatherings over 1-10 people           6            In effect
162917    Ban of gatherings over 1-10 people           6            In effect
162934    Ban of gatherings over 1-10 people           6            In effect
162942    Ban of gatherings over 1-10 people           6            In effect
162948    Ban of gatherings over 1-10 people           6            In effect
162969    Ban of gatherings over 1-10 people           6            In effect
163009    Ban of gatherings over 1-10 people           6            In effect
163018    Ban of gatherings over 1-10 people           6            In effect
163030    Ban of gatherings over 1-10 people           6            In effect
163046    Ban of gatherings over 1-10 people           6            In effect
163071    Ban of gatherings over 1-10 people           6            In effect
163076    Ban of gatherings over 1-10 people           6            In effect
163093    Ban of gatherings over 1-10 people           6            In effect
161712    Ban of gatherings over 1-10 people           6            In effect
161723    Ban of gatherings over 1-10 people           6            In effect
161748           Bans gatherings of any size           7            In effect
161990    Ban of gatherings over 1-10 people           6            In effect
161998    Ban of gatherings over 1-10 people           6            In effect
162023    Ban of gatherings over 1-10 people           6            In effect
162053           Bans gatherings of any size           7            In effect
162057           Bans gatherings of any size           7            In effect
162062           Bans gatherings of any size           7            In effect
162602           Bans gatherings of any size           7            In effect
162638           Bans gatherings of any size           7            In effect
162657           Bans gatherings of any size           7            In effect
162730           Bans gatherings of any size           7            In effect
162896    Ban of gatherings over 1-10 people           6            In effect
162911    Ban of gatherings over 1-10 people           6            In effect
162917    Ban of gatherings over 1-10 people           6            In effect
162934    Ban of gatherings over 1-10 people           6            In effect
161616                        No order found           1                  NaN
161630                        No order found           1            In effect
161662                        No order found           1            In effect
161671                        No order found           1            In effect
161684                        No order found           1            In effect
161712  Ban of gatherings over 51-100 people           3            In effect
161723  Ban of gatherings over 51-100 people           3            In effect
161748  Ban of gatherings over 51-100 people           3            In effect
161779                        No order found           1            In effect
161817                        No order found           1            In effect
161840                        No order found           1            In effect
161875                        No order found           1            In effect
161897                        No order found           1            In effect
161912                        No order found           1                  NaN
161926                        No order found           1            In effect
161958                        No order found           1            In effect
161967                        No order found           1            In effect
161980                        No order found           1            In effect
161990                        No order found           1            In effect
161998  Ban of gatherings over 51-100 people           3            In effect
162023  Ban of gatherings over 51-100 people           3            In effect
162053  Ban of gatherings over 51-100 people           3            In effect
162057    Ban of gatherings over 1-10 people           6            In effect
162062    Ban of gatherings over 1-10 people           6            In effect
162074                        No order found           1            In effect
162081                        No order found           1            In effect
162095                        No order found           1            In effect
162109                        No order found           1            In effect
162137                        No order found           1            In effect
162166                        No order found           1            In effect
162205                        No order found           1            In effect
162208                        No order found           1                  NaN
162222                        No order found           1            In effect
162254                        No order found           1            In effect
162263                        No order found           1            In effect
162276                        No order found           1            In effect
162299                        No order found           1            In effect
162336                        No order found           1            In effect
162370                        No order found           1            In effect
162403                        No order found           1            In effect
162504                        No order found           1                  NaN
162518                        No order found           1            In effect
162550                        No order found           1            In effect
162557                        No order found           1            In effect
162559                        No order found           1            In effect
162563                        No order found           1            In effect
162572                        No order found           1            In effect
162602  Ban of gatherings over 51-100 people           3            In effect
162638  Ban of gatherings over 51-100 people           3            In effect
162657   Ban of gatherings over 11-25 people           5            In effect
162730   Ban of gatherings over 11-25 people           5            In effect
162800                        No order found           1                  NaN
162814                        No order found           1            In effect
162846                        No order found           1            In effect
162850                        No order found           1            In effect
162861                        No order found           1            In effect
162868                        No order found           1            In effect
162879                        No order found           1            In effect
162896  Ban of gatherings over 51-100 people           3            In effect
162911  Ban of gatherings over 51-100 people           3            In effect
162917  Ban of gatherings over 51-100 people           3            In effect
162934  Ban of gatherings over 51-100 people           3            In effect
162942                        No order found           1            In effect
162948                        No order found           1            In effect
162969                        No order found           1            In effect
163009                        No order found           1            In effect
163018                        No order found           1            In effect
163030                        No order found           1            In effect
163046                        No order found           1            In effect
163071                        No order found           1            In effect
163076                        No order found           1            In effect
163093                        No order found           1            In effect

In [104]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [105]:
#Use data with number of counties
#obtained from thefactfile.org/us-states-counties/
state_counties = pd.read_excel('data/State_Counties.xlsx')
state_counties

   State  # Counties
0     AK          20
1     AL          67
2     AR          75
3     AZ          15
4     CA          58
5     CO          64
6     CT           8
7     DC           1
8     DE           3
9     FL          67
10    GA         159
11    HI           5
12    IA          99
13    ID          44
14    IL         102
15    IN          92
16    KS         105
17    KY         120
18    LA          64
19    MA          14
20    MD          24
21    ME          16
22    MI          83
23    MN          87
24    MO         115
25    MS          82
26    MT          56
27    NC         100
28    ND          53
29    NE          93
30    NH          10
31    NJ          21
32    NM          33
33    NV          17
34    NY          62
35    OH          88
36    OK          77
37    OR          36
38    PA          67
39    RI           5
40    SC          46
41    SD          66
42    TN          95
43    TX         254
44    UT          29
45    VA         133
46    VT          14
47    WA          39
48    WI          72
49    WV          55
50    WY          23

In [106]:
#add number of counties to table with number of orders made for counties in each state
state_county_bans = ban_order_states.merge(state_counties, on='State', how='left')
state_county_bans

state_county_bans = count_counties_with_bans.merge(state_counties, on='State', how='left')
state_county_bans

   State  FIPS_County  # Counties
0     AK           29          20
1     AL           67          67
2     AR           75          75
3     AZ           15          15
4     CA           58          58
5     CO           64          64
6     CT            8           8
7     DC            1           1
8     DE            3           3
9     FL           67          67
10    GA          159         159
11    HI            5           5
12    IA           99          99
13    ID           44          44
14    IL          102         102
15    IN           92          92
16    KS          105         105
17    KY          120         120
18    LA           64          64
19    MA           14          14
20    MD           24          24
21    ME           16          16
22    MI           83          83
23    MN           87          87
24    MO          115         115
25    MS           82          82
26    MT           56          56
27    NC          100         100
28    ND           53          53
29    NE           93          93
30    NH           10          10
31    NJ           21          21
32    NM           33          33
33    NV           17          17
34    NY           62          62
35    OH           88          88
36    OK           77          77
37    OR           36          36
38    PA           67          67
39    RI            5           5
40    SC           46          46
41    SD           66          66
42    TN           95          95
43    TX          254         254
44    UT           29          29
45    VA          133         133
46    VT           14          14
47    WA           39          39
48    WI           72          72
49    WV           55          55
50    WY           23          23

In [107]:
#Find states that don't have county numbers. 
states_missing = state_counties.merge(ban_order_states,on='State',how='left')
states_missing = states_missing[states_missing['Order_group'].isnull()]
states = states_missing['State'].to_frame()

#Add a column to account for missing states in final bans per county data
states['Bans per county'] = 0
states

KeyError: 'Order_group'

In [26]:
#calculate bans per county for states that have county numbers
bans_county = state_county_bans.copy()
bans_county['Bans per county']= bans_county['Order_group']/bans_county['# Counties']

#Make bans per county an integer not a float
bans_county['Bans per county'] = bans_county['Bans per county'].apply(np.floor)
bans_county['Bans per county'] = bans_county['Bans per county'].astype('int32')

#Remove unnecessary columns from final dataset
bans_county.drop(columns=['Order_group','# Counties'],inplace=True)
bans_county

   State  Bans per county
0     AK                7
1     AL                3
2     AR                7
3     CA               17
4     CO               42
5     CT               17
6     DC               11
7     DE                8
8     FL                3
9     GA               20
10    HI               19
11    IA               14
12    ID                7
13    IL               17
14    IN               20
15    KS                8
16    KY                5
17    LA               23
18    MA               26
19    MD                9
20    ME               13
21    MI               41
22    MN               10
23    MO                3
24    MS               46
25    MT                5
26    NC               24
27    NE               16
28    NH                4
29    NJ               23
30    NM               27
31    NV               10
32    NY               40
33    OH                8
34    OK                9
35    OR               40
36    PA               12
37    RI               28
38    SC               13
39    TN                5
40    TX                3
41    UT               22
42    VA               13
43    VT               15
44    WA               36
45    WI                7
46    WV               26
47    WY               28

In [27]:
#Create final bans per county dataset with all states and DC
#Reset the index for accurate counting
bans_per_county = pd.concat([bans_county,states]).sort_values(by=['State']).reset_index(drop=True)
bans_per_county

   State  Bans per county
0     AK                7
1     AL                3
2     AR                7
3     AZ                0
4     CA               17
5     CO               42
6     CT               17
7     DC               11
8     DE                8
9     FL                3
10    GA               20
11    HI               19
12    IA               14
13    ID                7
14    IL               17
15    IN               20
16    KS                8
17    KY                5
18    LA               23
19    MA               26
20    MD                9
21    ME               13
22    MI               41
23    MN               10
24    MO                3
25    MS               46
26    MT                5
27    NC               24
28    ND                0
29    NE               16
30    NH                4
31    NJ               23
32    NM               27
33    NV               10
34    NY               40
35    OH                8
36    OK                9
37    OR               40
38    PA               12
39    RI               28
40    SC               13
41    SD                0
42    TN                5
43    TX                3
44    UT               22
45    VA               13
46    VT               15
47    WA               36
48    WI                7
49    WV               26
50    WY               28

In [28]:
bans_county.to_csv(r'data/StateBansPerCounty.csv',index=False)